{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post"> 
      {{ govukRadios({
        name: "spoken-options",
        fieldset: {
        legend: {
          text: "How should we contact you if we need to speak to you?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
        },
        hint: {
        text: "We usually contact you by phone if we need to speak to you. Select the best option for your needs."  
        },
        items: [
        {
          value: "Standard phone call",
          text: "Standard phone call"
        },
        {
          value: "Relay UK",
          text: "Relay UK"
        },
        {
          value: "Textphone",
          text: "Textphone"
        },
        {
          value: "Signing or lipspeaking",
          text: "Signing or lipspeaking"
        }
        ]
        }) }}
        
        {{ govukButton({
        text: "Continue"
        }) }}  
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}