{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Do you have anyone to help you with these tasks?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "A family member"
    },
    {
      value: "no",
      text: "A friend"
    },
    {
      value: "no",
      text: "A carer"
    },
    {
      value: "no",
      text: "A health professional"
    },
    {
      value: "no",
      text: "A support organisation"
    },
    {
      value: "no",
      text: "Your local council"
    },
    {
      value: "no",
      text: "Other"
    }
  ]
}) }}
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}