{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>




{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if you want to continue without resolving this issue",
      href: "#"
    }
  ]
}) }}


<!------------ ––– ------------>

<form class="form" action="/searchlight/tasks-3" method="post">
  <!--<h1 class="govuk-heading-l govuk-!-margin-bottom-3">Are you sure you want to [move this application to PIPCS / disallow this application / send this application to the assessment provider]?</h1>-->
  
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "check",
    fieldset: {
      legend: {
        html: "<h1 class='govuk-heading-l'>Are you sure you want to move this application to PIPCS?</h1><p class='govuk-body'>There is an issue you said you want to try to resolve:</p>
        <ul class='govuk-list govuk-list--bullet'>
        
          <li>Address does not match Searchlight record</li>
        </ul>"
      }
    },
    errorMessage: {
      text: "Select yes if you want to continue without resolving this issue"
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
