{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>







<!------------ ––– ------------>

<form class="form" action="/searchlight/tasks-3" method="post">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Are you sure you want to move this application to PIPCS?</h1>
  <!--<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Are you sure you want to [move this application to PIPCS / disallow this application / send this application to the assessment provider]?</h1>-->
  <p class="govuk-body">There is an issue you said you want to try to resolve:</p>
<ul class="govuk-list govuk-list--bullet">

  <li>Address does not match Searchlight record</li>
</ul>
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "check",
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
