{% extends "layouts/main.html" %}

{% block pageTitle %} Which other benefits does the applicant or claimant get? - PIP Case review - GOV.UK {% endblock %}

{% block main %}

   <div class="govuk-width-container">
    <div class="column-full">
      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jane Doe</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
        </dl>
      </section>
      {% if scenario == "pre-award-disallow" %}  
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="/case-manager-review/record-details-iteration-4" aria-current="section">Personal details</a>
          </li>
          <li>
            <a href="#">Supporting documents</a>
          </li>
          <li>
            <a href="#">Conditions or disabilities</a>
          </li>
          <li>
            <a href="#">Activities</a>
          </li>
          <li>
            <a href="/event-history/v5-quick-reference/index" class="active" aria-current="section">Event history</a>
          </li>
          <li>
            <a href="/decision-tab-iteration-4-evidence" aria-current="section">Decision</a>
          </li>

          {# <li>
            <a href="Other-actions">Other actions</a>
          </li> #}

        </ul>
      </nav>
      {% endif %}

  </div>


  {% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


 <br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You need to take more actions to resolve this issue</h1>
    <p class="govuk-body">To resolve this issue: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        contact the applicant to confirm the correct details, and  
      </li>
      <li>
        change any incorrect details in Searchlight or PIP Service.
      </li>
    </ul>

    <p class="govuk-body">If you cannot confirm the correct details:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        return to the question 'Does their address match what we hold in Searchlight?', and 
      </li>
      <li>
        select 'No, I cannot resolve this issue'.
      </li>
    </ul>

    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  href: "/searchlight/tasks-3",
  text: "Continue"
}) }}

</div>
</div>



<br><br>

</div>


{% endblock %}
