{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">


<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>



<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Prepare an application for an assessment provider</h1>
<!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->



<h1 class="govuk-heading-m govuk-!-margin-bottom-2">Review supplied information</h1>
<!-- <p class="govuk-body govuk-!-margin-bottom-4">@dave Links will open in a new tab</p> -->

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="/v13/case-review/personal-details" target="_blank" rel="noopener">Registration (PIP1) (opens in new tab)</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank" rel="noopener">Supporting documents (opens in new tab)</a></p>
<br>


</div>
</div>




<!------------ ––– ------------>



<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-1">Check application</h2>

    {% from "govuk/components/task-list/macro.njk" import govukTaskList %}
    {{ govukTaskList({
      idPrefix: "application-checks",
      items: [
      {
        title: {
          text: "National Insurance Number"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Name"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Address"
        },
        href: "address",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Date of birth"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Date of death"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Nationality"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Residency and prescence"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Immigration status"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Special Rules End of Life (SREL)"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },  {
        title: {
          text: "Representative or appointee"
        },
        href: "#",
        status: {
          tag: {
            text: "DONE",
            classes: "govuk-tag--blue"
          }
        }
      },
        {
          title: {
            text: "Withdrawn"
          },
          href: "address",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Age criteria"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Additional support"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Alternative format"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Fraud"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Keep customer interactions safe (KCIS)"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Working abroad"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Foreign benefits"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Disability Living Allowance (DLA)"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Child Disability Payment or Adult Disability Payment"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Armed Forces Independence Payment (AFIP)"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "War Pensioners' Mobility Supplement (WPMS)"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        },{
          title: {
            text: "Constant Attendance Allowance (CAA)"
          },
          href: "#",
          status: {
            tag: {
              text: "DONE",
              classes: "govuk-tag--blue"
            }
          }
        }
      ]
    }) }}
  <!------------ ––– ------------>


{% if address == "No" and WhatDoYouWantToDo == "Try to resolve this task" %}
  <h2 class="govuk-heading-l govuk-!-margin-bottom-6">There is an issue with this application</h2>
  {% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "How to resolve the address if it does not match what we holid in Searchlight",
  text: "Contact the applicant to verify their identity, and confirm the correct address.  Update the address in Searchlight if it is incorrect"
}) }}

    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "next",
        fieldset: {
          legend: {
            text: "What do you want DONE now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Send application to assessment provider",
          text: "Send application to assessment provider"
        },
        {
          value: "Move application to PIPCS",
          text: "Move application to PIPCS"
        },
        {
          value: "Disallow application",
          text: "Disallow application"
        }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/searchlight/check"
      }) }}

</form>
{% endif %}

{% if address == "No" and WhatDoYouWantToDo == "Nothing" %}
  <h2 class="govuk-heading-l govuk-!-margin-bottom-6">There is an issue with this application</h2>

    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "next",
        fieldset: {
          legend: {
            text: "What do you want DONE now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Send application to assessment provider",
          text: "Send application to assessment provider"
        },
        {
          value: "Move application to PIPCS",
          text: "Move application to PIPCS"
        },
        {
          value: "Disallow application",
          text: "Disallow application"
        }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "#"
      }) }}

</form>
{% endif %}
<h2 class="govuk-heading-l">There are no issues with this application</h2>

    <p class="govuk-body">It is ready for a decision.</p>




    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "next",
        fieldset: {
          legend: {
            text: "What do you want to do now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Send application to assessment provider",
          text: "Send application to assessment provider"
        },
        {
          value: "Move application to PIPCS",
          text: "Move application to PIPCS"
        },
        {
          value: "Disallow application",
          text: "Disallow application"
        }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

</form>

</div>
</div>

  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
