{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>







<!------------ ––– ------------>

<form class="form" action="/what-did-you-do-answer" method="post">
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  {% if searchlightAnswer == "IDV complete before mismatch identified" %}
    {{ govukCheckboxes({
      name: "WhatDidYouDo",
      fieldset: {
        legend: {
          text: "Which address records did you change?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "Changed address in Searchlight",
          text: "Address in Searchlight"
        },
        {
          value: "Changed address in PIP Service",
          text: "Address in PIP Service"
        }
      ]
    }) }}
  {% endif %}

  {% if searchlightAnswer == "IDV not complete before mismatch identified" or searchlightAnswer == "IDV not complete before mismatch identified: user leaves IDV checkbox blank" or searchlightAnswer == "IDV not complete before mismatch identified: user leaves all checkboxes blank" %}
    {{ govukCheckboxes({
      name: "WhatDidYouDo",
      fieldset: {
        legend: {
          text: "Which address records did you change?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "Changed address in Searchlight",
          text: "Changed address in Searchlight"
        },
        {
          value: "Changed address in PIP Service",
          text: "Changed address in PIP Service"
        }
      ]
    }) }}
  {% endif %}


  {{ govukButton({
    text: "Continue"
  }) }}
</form>

  </main>
</div>

<div>


{% endblock %}
