{% extends "layouts/main-gov.html" %}

{% block pageTitle %} 
Add a note - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container">
    {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

              {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                  {
                    text: "Select yes if we can contact you at this address",
                    href: "#"
                  }
                ]
              }) }}
                <form id="form" method="post" action="/can-answer">
                
                  
                        <div class="govuk-form-group govuk-form-group--error">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                              <h1 class="govuk-heading-xl">
                                Is this the address we should use to contact you?
                              </h1>
                            </legend>
                            <p>You will receive your claim decision by post.</p>
                            <div class="govuk-inset-text" style="margin-top: 0px;">
                                1 Washington Street<br>Worcester<br>WR1 1NL
                            </div>
                            <p id="passport-issued-error" class="govuk-error-message">
                              <span class="govuk-visually-hidden">Error:</span>Select yes if we can contact you at this address
                            </p>
                            <div class="govuk-radios govuk-radios--inline">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="safe-address-1" name="safe-address" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="safe-address-1">
                                  Yes
                                </label>
                              </div> <!-- govuk-radios__item -->
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="safe-address-2" name="safe-address" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="safe-address-2">
                                  No
                                </label>
                              </div> <!-- govuk-radios__item -->
                            </div> <!-- govuk-radios govuk-radios--inline -->
                          </fieldset>
                        </div> <!-- govuk-form-group -->
                  
                        <input type="submit" class="govuk-button" value="Save and continue" id="submit">
                  
   
                  </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}