{% extends "layouts/main-gov.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">








<!------------ ––– ------------>

<form class="form" action="/address-scenario" method="post">
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  

    {{ govukRadios({
      name: "address-scenario",
      fieldset: {
        legend: {
          text: "What address look-up scenario do you want to simulate?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
      {
        value: "Successful address look-up",
        text: "Successful address look-up"
      },
        {
          value: "Address not found",
          text: "Address not found"
        },
        {
          value: "Not in eligible postcode",
          text: "Not in eligible postcode"
        }
      ]
    }) }}


  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>


<div>


{% endblock %}
