{% extends "layouts/main.html" %}

{% block pageTitle %} Add an event {% endblock %}

{% block main %}

      <div class="govuk-width-container">
        <div class="column-full">
          <section class="dwp-quick-reference" aria-label="Case information">
            <dl class="dwp-quick-reference__block">
            <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
            <dd class="dwp-quick-reference__primary">Jane Doe</dd>
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
            <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
            </dl>
            </section>
        
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="/case-manager-review/record-details-iteration-4" aria-current="section">Personal details</a>
        </li>
        <li>
          <a href="#">Supporting documents</a>
        </li>
        <li>
          <a href="#">Conditions or disabilities</a>
        </li>
        <li>
          <a href="#">Activities</a>
        </li>
        <li>
          <a href="/event-history/v5-quick-reference/index" class="active" aria-current="section">Event history</a>
        </li>
        <li>
          <a href="/decision-tab-iteration-4-evidence" aria-current="section">Decision</a>
        </li>

        {# <li>
          <a href="Other-actions">Other actions</a>
        </li> #}

      </ul>
    </nav>
</div>

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}
{% endblock %}


 <br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">

 
 {{ govukRadios({
  name: "add-an-event-pp",
  fieldset: {
    legend: {
      text: "Add an event",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "moved",
      text: "Completed move to PIPCS"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "/event-history/in-payment/completed-move/add-a-note"
}) }}
</form>
</div>
</div>



<br><br>

</div>


{% endblock %}
