//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-body {
  font-family: Helvetica, Arial, sans-serif;
}

.govuk-list {
  font-family: Helvetica, Arial, sans-serif;
  }

.govuk-footer__link {
  font-family: Helvetica, Arial, sans-serif;
}

.govuk-footer, .govuk-body {
font-family: Helvetica, Arial, sans-serif;
}

.govuk-button {
  font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

.govuk-heading-xl {
  font-family: Helvetica, Arial, sans-serif;
}

.govuk-heading-l {
    color: #0b0c0c;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    }

    .govuk-heading-m {
      font-family: Helvetica, Arial, sans-serif;
    }

    .govuk-heading-s {
      font-family: Helvetica, Arial, sans-serif;
    }

    .govuk-fieldset__legend--l {
      font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        }

.govuk-fieldset__legend--m {
  font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    }

.govuk-label {
  font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #0b0c0c;
        display: block;
    }

    .govuk-fieldset__legend--s {
      font-family: Helvetica, Arial, sans-serif;
    }

 .govuk-hint {
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        color: #505a5f;
    }

    .govuk-table__cell {
      text-align: left;
    }

    .govuk-table {
      font-family: Helvetica, arial, sans-serif;
    }

 .input[type="radio" i] {
    background-color: initial;
    appearance: auto;
    box-sizing: border-box;
    padding: initial;
    border: initial;
    } 


    // DWP Key details bar

    .key-details-bar {
      background-color: #005ea5;
    }
    
    .key-details-bar .key-details-bar__key-details {
      margin: 0 auto;
      max-width: 960px;
      padding: 20px 30px 20px 30px;
      position: relative;
      font-family: "GDS Transport";
    }
    
    .key-details-bar .key-details-bar__key-details * {
      color: #fff;
    }
    
    .key-details-bar .key-details-bar__key-details .key-details-bar__name {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11111;
      margin-right: 10px;
    }
    
    .key-details-bar .key-details-bar__key-details .key-details-bar__nino {
      font-size: 24px;
      line-height: 1;
      margin-top: 12px;
    }
    
    .key-details-bar .key-details-bar__key-details .key-details-bar__status {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
      padding: 5px 8px 0;
      color: #005ea5;
      background-color: #fff;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      float: right;
      margin: 5px 0 0;
    }
    
    .key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      content: ' ';
      padding-top: 10px;
      margin-top: 6px;
    }
    
    .key-details-bar .key-details-bar__key-details dd, .key-details-bar .key-details-bar__key-details dt {
      float: left;
      font-size: 19px;
      margin-right: 5px;
    }
    
    .key-details-bar .key-details-bar__key-details dd {
      margin-right: 20px;
    }
    
    .key-details-bar .key-details-bar__key-details .key-details-bar__top-block::after, .key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block::after {
      clear: both;
      content: ' ';
      display: block;
    }

    .mojFilter  {
      margin-right: 20px;
    }

    .govuk-phase-banner {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #b1b4b6;
      }

    // Secondary navigation
.navigation-secondary ul:after {
  content: "";
  display: block;
  clear: both;
}

.navigation-secondary {
  border-bottom: 1px solid #bfc1c3;
  margin: auto;
  max-width: 960px;
}

.navigation-secondary ul {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 0;

}

.navigation-secondary li {
  float: left;
  list-style-type: none;
}

@media (max-width: 640px) {
  .navigation-secondary li {
    border: 0;
    width: 100%;
  }
}

.navigation-secondary a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.navigation-secondary a:visited {
  color: #005ea5;
}

.navigation-secondary a:hover {
    text-decoration: underline;
}

.navigation-secondary .active {
  box-shadow: inset 0px -5px 0px 0px #005ea5;
  text-decoration: none;
}

.navigation-secondary .active:visited {
  color: #0b0c0c;
}

.gov-uk-width-container {
  max-width: 1100px;
}

.govuk-table__cell {
  padding: 10px 20px 10px 0;
}