{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

      <form action="#" method="post" novalidate>

        <h1 class="govuk-heading-xl">No record found</h1>
        <p class="govuk-body">There are no applicant or claimant records for National Insurance number <b>QQ 12 34 56 C</b>.</p>
        <p class="govuk-body"><a href="/find-someone/v2/search-claimant-v2">Search again</a></p>
</div>

{% endblock %}

