{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        
        {% call govukFieldset({
          legend: {
            text: "Change alternative phone number",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
        
        
          {{ govukInput({
            label: {
              text: "Alternative phone number (optional)"
            },
            hint: {
              text: "Enter an alternative number they can be contacted on, including the dialling code."
            },
            classes: "govuk-!-width-two-thirds",
            id: "alt-number",
            name: "alt-number",
            autocomplete: "alt-number",
            value: "07777 7777778"
          }) }}
        
        {% endcall %}

        {{ govukButton({
          text: "Save and continue",
          href: "/edit-claim/version-3-button-above/record-details-link-updated-alt-number"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
