{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

          <div class="govuk-width-container">

            {{ govukInput({
              label: {
                text: "Change mobile phone number",
                classes: "govuk-label--xl",
                isPageHeading: true
              },
              value: "077777777777",
              id: "mobile",
              name: "mobile"
            }) }}


          {{ govukButton({
            text: "Save and continue",
            href: "/edit-claim/version-3-button-above/record-details-link-updated-mobile"
          }) }}

          </div>

      </form>

    </div>
  </div>

{% endblock %}
