{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        
        {% call govukFieldset({
          legend: {
            text: "Phone numbers",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
        
        
          {{ govukInput({
            label: {
              text: "Mobile number"
            },
            classes: "govuk-!-width-two-thirds",
            id: "mobile",
            name: "mobile",
            autocomplete: "mobile",
            value: "07777 7777777"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Alternative phone number (optional)"
            },
            hint: {
              text: "Enter an alternative number you can be contacted on, including the dialling code."
            },
            classes: "govuk-!-width-two-thirds",
            id: "alt-number",
            name: "alt-number",
            autocomplete: "alt-number",
            value: "07777 7777778"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Textphone (optional)"
            },
            hint: {
              text: "Textphones do not accept text messages from mobile phones. 
              They're for people who cannot speak or hear clearly."
            },
            classes: "govuk-!-width-two-thirds",
            id: "alt-number",
            name: "alt-number",
            autocomplete: "alt-number",
            value: "07777 7777778"
          }) }}

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "changedName",
            fieldset: {
              legend: {
                text: "Do you want to receive text messages to update you on the progress of your claim?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: { 
              text: "If you do not want to receive text messages, we will write to you instead."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No",
                checked: "true"
              }
            ]
          }) }}
        
        {% endcall %}

        {{ govukButton({
          text: "Save and continue",
          href: "/edit-claim/version-3-button-above/record-details-updated-mobile"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
