{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post"> 
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "regNewApplication",
          fieldset: {
            legend: {
              text: "Do you want to apply for PIP in England and Wales",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, England and Wales"
            },
            {
              value: "noNI",
              text: "No, Northern Ireland"
            },
            {
              value: "noScotland",
              text: "No, Scotland"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }} 
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}