{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "#"
  }) }}
{% endblock %}


{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post"> 
    {% if (data['regScenario'] == "agent" ) %}
    <h1 class="govuk-heading-l">
      I will now read out the declaration then ask you to agree to it
    </h1>

    <h2 class="govuk-body">You declare that the information you give will be correct and complete as far as you know and believe.&ZeroWidthSpace;
    </h2>

    <p class="govuk-body">You understand that if you knowingly give false information your benefit may be stopped and you may be liable to prosecution or other action.</p>

    <p class="govuk-body">You understand that you must promptly tell the office that pays your Personal Independence Payment of anything that may affect your entitlement to, or the amount of, that benefit. </p>

    <p class="govuk-body">You understand that the Department for Communities may use the information which it has now or may get in future to decide whether you are entitled to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the benefit you are claiming,&nbsp;</li>
      <li>any other benefit you have claimed,&nbsp;or</li>
      <li>any other benefit you may claim or be awarded in the future.</li>
    </ul>

    

    <p class="govuk-body">If you agree, we can continue to gather the information needed for your claim.</p>

    <div class="govuk-button-group">
    






    {% else %}
      <h2>Citizen declation</h2>
    {% endif %}
    
      <a href="/ucd-register/task-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Agree and continue
        </a>
        
        
            <a class="govuk-link" href="/v2-ucd-register/declaration-kickout">Applicant does not agree</a>
          </div>
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}