{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <h1>If you want to talk about an existing application</h1>
    <p>You need to call the Enquiry line</p>
    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
    {{ govukInsetText({
    text: "Enquiry line number: 0800 121 4433"
    }) }}
    <!--<form class="form" action="#" method="post"> 
    </form>-->
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}