{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "#"
  }) }}
{% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We have not been able to confirm your identity</h1>
    <p class="govuk-body">We can continue with your application. However, we will not be able to make a decision on your application until we can confirm your identity.</p>
    <p class="govuk-body">Call our Enquiry Line on 0800 121 4433 to confirm your identity. If you are unable to do this, we may call you or we will write to you requesting identity documents.</p>
    <form class="form" action="/registration/pre-registration/intro" method="post">
      {{ govukButton({
        text: "Continue"
      }) }} 
  </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}