{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "#"
  }) }}
{% endblock %}

{% block content %}


<!-- Start row -->
<div class="govuk-grid-row">
    
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form action="/regKBV" method="post">

        <h1 class="govuk-heading-l">
          I need to check your details for security reasons 
        </h1> 
     
        <div class="govuk-inset-text colour-blue govuk-!-font-size-36 govuk-!-font-weight-bold" style="border-left: 10px solid #1d70b8;">
      <p class="govuk-body">Action: Ask 3 questions, or stop asking questions if the first 2 answers are correct.
            </p>
    </div>
    
    
        <p class="govuk-body"><a href="/ucd-register/signposting-eligibility/not-enough-cis-data" class="govuk-link">Not enough applicant data to ask security questions</a>
        </p>
    
  
            
    
    
    <div class="govuk-form-group">
    
      <fieldset class="govuk-fieldset" aria-describedby="questions-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
        <h1 class="govuk-fieldset__heading">
          Security questions
        </h1>
      
      </legend>
      
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      
      
     

        {{ govukCheckboxes({
        name: "waste",
        hint: {
            text: "Select the questions you ask the applicant."
        },
        items: [
            {
            value: "other-benefit",
            text: "Other benefit or DWP payment received"
            },
            {
            value: "previous-benefit",
            text: "Benefit claimed previously "
            },
            {
            value: "previous-surname",
            text: "Previous surname"
            },
            {
            value: "previous-address",
            text: "Previous address"
            },
            {
            value: "other-benefit-amount",
            text: "Weekly amount of other benefit"
            },
            {
            value: "other-benefit-date",
            text: "Date claim for other benefit began"
            },
            {
            value: "last-payment-date",
            text: "Date of last payment"
            },
            {
            value: "partner-nino",
            text: "Partner's National Insurance number"
            },
            {
            value: "partner-full-Name",
            text: "Partner's full Name"
            },
            {
            value: "partner-date-of-birth",
            text: "Partner's date of birth"
            },
            {
            value: "number-of-dependents",
            text: "Number of dependents"
            },
            {
            value: "dependent-child-name",
            text: "Dependent child name"
            },
            {
            value: "dependent-child-dob",
            text: "Dependent child date of birth"
            }
        ]
        }) }}
    
      
    
    </fieldset>
    
    
    </div>
    
    
    
        
    
        
    
    <div class="govuk-form-group">
    
      <fieldset class="govuk-fieldset" aria-describedby="security-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
        <h1 class="govuk-fieldset__heading">
          Applicant answers
        </h1>
      
      </legend>
      
    
      <div id="security-hint" class="govuk-hint">
        Select one option.
      </div>
    
    
      <div class="govuk-radios" data-module="govuk-radios">
        
          
              
            
            
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="security" name="security" type="radio" value="passed">
              <label class="govuk-label govuk-radios__label" for="security">
            2 correct answers
          </label>
              
            </div>
            
            
          
        
          
            
            
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="security-2" name="security" type="radio" value="failed">
              <label class="govuk-label govuk-radios__label" for="security-2">
            1 correct answer
          </label>
              
            </div>
            
            
          
        
          
            
            
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="security-3" name="security" type="radio" value="failed">
              <label class="govuk-label govuk-radios__label" for="security-3">
            No correct answers
          </label>
              
            </div>
            
            
          
        
      </div>
      
    
    </fieldset>
    
    
    </div>
    
    
    
        
    
      
        
      
    
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    
    
      </form>
    
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}