{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/regNino" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "regNewApplication",
          fieldset: {
            legend: {
              text: "What is your National Insurance number",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }} 
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}