{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/regOver16" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "regNewApplication",
          fieldset: {
            legend: {
              text: "Are you over 16 years old, and under State Pension Age",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "noUnder16",
              text: "No, under 16"
            },
            {
              value: "noOver",
              text: "No, over State Pension Age"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }} 
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}