{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
  text: "Back",
  href: "#"
  }) }}
{% endblock %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post">
      <div class="govuk-width-container">

        <h1 class="govuk-heading-l">What date did you enter the hospice?</h1>

        

      







<div class="govuk-form-group">

<div id="passport-issued-hint" class="govuk-hint">
  Enter a date, like  27 3 2007
</div>


<div class="govuk-date-input" id="passport-issued">
  
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
    
    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hospice-date-day" type="text" inputmode="numeric">
    
    </div>
  </div>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
    
    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hospice-date-month" type="text" inputmode="numeric">
    
    </div>
  </div>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
    
    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hospice-date-year" type="text" inputmode="numeric">
    
    </div>
  </div>

</div>

</div>


      

      


<div class="govuk-form-group">

<fieldset class="govuk-fieldset">


<div class="govuk-checkboxes" data-module="govuk-checkboxes">
  
    
        
      
        
        
        
        
        
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="hospice-date" name="hospice-date" type="checkbox" value="unknown">
          <label class="govuk-label govuk-checkboxes__label" for="hospice-date">
      Applicant does not know the date
    </label>
          
        </div>
        
      
    
  
</div>


</fieldset>


</div>


      


  


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
  

      </div>
    </form>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}