{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main-v3.html" %}
{% endif %}



{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['regScena'] == "citizen" ) %}
      <h1 class="govuk-heading-l">
        Select your address
      </h1>
      {% else %}
      <h1 class="govuk-heading-l">
        Can you confirm your address?
      </h1>
      {% endif %}
      

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

               <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="what-is-your-postcode">Search again</a></p>

        {{ govukRadios({
          name: "select-an-address",
          items: [
            {
            value: "1 Washington Street, Worcester, WR1 1NL",
            text: "1 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "10 Washington Street, Worcester, WR1 1NL",
            text: "10 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "11 Washington Street, Worcester, WR1 1NL",
            text: "11 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "12 Washington Street, Worcester, WR1 1NL",
            text: "12 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "13 Washington Street, Worcester, WR1 1NL",
            text: "13 Washington Street, Worcester, WR1 1NL"
            },
            {
            value: "14 Washington Street, Worcester, WR1 1NL",
            text: "14 Washington Street, Worcester, WR1 1NL"
            }

          ]
        }) }}

      </div>

        {{ govukButton({
        text: "Use this address"
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-6"><a href="enter-address-manually-country" class="govuk-link">Enter address manually</a></p>


        <p><a href="../task-list-in-progress">Go to task list</a></p>

      </form>

       <!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>GOV.UK Dashed Border Container</title> 
    <!-- GOV.UK Frontend CSS --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/govuk-frontend/4.7.0/govuk-frontend.min.css"> 
     <style> .dashed-container { 
      border: 2px dashed #b1b4b6; /* GOV.UK border colour */ 
      padding: 20px; 
      margin: 20px 0; 
      background-color: #f3f2f1; /* GOV.UK light grey background */ 
      } 
      
      .dashed-container h3 { 
        margin-top: 0; 
      } 
      .dashed-container ul { 
          margin-bottom: 0; }
           </style> 
           </head> 
           <body class="govuk-template__body"> 
            <div class="govuk-width-container"> 
              <main class="govuk-main-wrapper"> <!-- Example usage of the dashed container --> 
  <div class="dashed-container"> 
    <h3 class="govuk-heading-m">Journey routes</h3> 
    <ul class="govuk-list"> 
      <li><a href="select-your-address-2" class="govuk-link">Address limits 3 - 35 characters iteration 1</a></li> 
      <li><a href="select-your-address-3" class="govuk-link">Address limits 3 - 35 characters iteration 2 </a></li> 
     <li><a href="select-your-address-4" class="govuk-link">Address limits 3 - 35 characters iteration 3 </a></li> 
    </ul> 
  </div> <!-- Another example with different content --> 
    
    
  </main>
 </div> 
</body>

    </div>
  </div>

{% endblock %}
