{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main.html" %}
{% endif %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Can you confirm the address?
      </h1>

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
          <p><a href="/pip-register/hospital-dates/5-6-postcode">Search again</a></p>

       <div class="govuk-inset-text">
        1 Washington Street<br>Worcester<br> WR1 1NL
      </div>

      </div>

        {{ govukButton({
          text: "Confirm address"
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-6"><a href="/5-6-postcode" class="govuk-link">Use a different address</a></p>


      <p class="govuk-body govuk-!-margin-bottom-6"><a href="/pip-register/hospital-dates/5-17-hospital-address-manually" class="govuk-link">Enter address manually</a></p>

      
      <p><a href="/pip-register/task-list-hcp-done">Go to task list</a></p> 
      </form>

    </div>
  </div>

{% endblock %}
