{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "/layouts/main-v3.html" %}
{% endif %}


{% set isDeclarationPre = true %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

    <h1 class="govuk-heading-l">
      Which nation in the UK do you live in?
    </h1>


    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "gb-pip",
      fieldset: {
        legend: {
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "eng",
          text: "England"
        },
        {
          value: "wales",
          text: "Wales"
        },
        {
          value: "scot",
          text: "Scotland"
        },
        {
          value: "nire",
          text: "Northern Ireland"
        },
        {
          divider: "or"
        },
        {
          value: "other-country",
          text: "A country outside the UK"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

  </div>
</div>

{% endblock %}
