{% extends "/layouts/main-v3.html" %}
{% from "components/third-party-name.njk" import thirdPartyCaption %}
{% set thirdPartyName = data['thirdPartyName'] %}
{% set applicantName = data['applicantName'] %}

{% set isDeclarationPre = true %}

{% block pageTitle %}

  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form action="declaration" method="post" method="post">

                        {{ thirdPartyCaption({
            thirdPartyName: thirdPartyName,
            applicantName: applicantName,
            heading: "I will now read out the declaration then I will ask if you agree to it"
        }) }}

          <h2 class="govuk-body">You declare that the information you give will be correct and complete as far as you know and believe.​
          </h2>

          <p class="govuk-body">You understand that if you knowingly give false information your benefit may be stopped and you may be liable to prosecution or other action.
            
          </p>

          <p class="govuk-body">You understand that you must promptly tell the Department for Work and Pensions (DWP) that pays your Personal Independence Payment of anything that may affect your entitlement to, or the amount of, that benefit.</p>

          <p class="govuk-body">You understand that the DWP may use the information which it has now or may get in future to decide whether you are entitled to:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the benefit you are claiming,</li>
            <li>any other benefit you have claimed, or</li>
            <li>any other benefit you may claim or be awarded in the future.</li>
          </ul>
          <h2 class="govuk-heading-m">
            Do you agree?
          </h2>

          {% from "govuk/components/button/macro.njk" import govukButton %}
          <!--
          <p class="govuk-body">If you agree, we can continue to gather the information needed for your claim.</p>-->

          <div class="govuk-button-group">
         

          {% if (data['regScena'] == "citizen" ) %}
          <h2 class="govuk-heading-l">
            Do you agree?
          </h2>
          {{ govukButton({
            text: "Agree and continue"
            }) }}
          <a class="govuk-link" href="cannot-start-application">I do not agree</a>
          {% else %}
          
          {{ govukButton({
            text: "Agree and continue"
            }) }}
          <a class="govuk-link" href="cannot-start-application">Applicant does not agree</a>
          {% endif %}
        </div>
      </form>

    </div>
  </div>

  <!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>GOV.UK Dashed Border Container</title> 
    <!-- GOV.UK Frontend CSS --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/govuk-frontend/4.7.0/govuk-frontend.min.css"> 
     <style> .dashed-container { 
      border: 2px dashed #b1b4b6; /* GOV.UK border colour */ 
      padding: 20px; 
      margin: 20px 0; 
      background-color: #f3f2f1; /* GOV.UK light grey background */ 
      } 
      
      .dashed-container h3 { 
        margin-top: 0; 
      } 
      .dashed-container ul { 
          margin-bottom: 0; }
           </style> 
           </head> 
           <body class="govuk-template__body"> 
            <div class="govuk-width-container"> 
              <main class="govuk-main-wrapper"> <!-- Example usage of the dashed container --> 
  <div class="dashed-container"> 
    <h3 class="govuk-heading-m">Journey routes</h3> 
    <ul class="govuk-list"> 
      <li>Third party journey - <a href="/pip-register-v6/signposting-eligibility/pass-phone-to-third-party-to-start-application.html" class="govuk-link">Agree and continue</a></li> 
     
    </ul> 
  </div> <!-- Another example with different content --> 
    
    
  </main>
 </div> 
</body>


  </div>
</div>

{% endblock %}
