{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main.html" %}
{% endif %}



{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['regScena'] == "citizen" ) %}
      <h1 class="govuk-heading-l">
        Confirm your address
      </h1>
      {% else %}
      <h1 class="govuk-heading-l">
        Thank you for confirming the address
      </h1>
      {% endif %}
      

      <form class="form" action="#" method="post">

        <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="/address/find-address">Search again</a></p>
        
        {{ govukInsetText({
        html: "1 Washington Street<br>Worcester<br>WR1 1NL"
        }) }}
        
        {{ govukButton({
        text: "Use this address"
        }) }}
        

         <p class="govuk-body govuk-!-margin-bottom-6"><a href="/pip-register/contact-details/what-is-your-postcode" class="govuk-link">Use a different address</a></p>

        <p class="govuk-body govuk-!-margin-bottom-6"><a href="/pip-register/contact-details/enter-address-manually-country" class="govuk-link">Enter address manually</a></p>
       
       
        <p><a href="/pip-register/task-list">Go to task list</a></p>
    </form>
        


    </div>
  </div>

{% endblock %}
