{% if (data['regScena'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <h1 class="govuk-heading-xl">
          Is this the address we should send letters to?
        </h1>

        {{ govukInsetText({
          html: "1 Washington Street<br>Worcester<br>WR1 1NL"
          }) }}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
            name: "should-we-write-to-you",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, provide an alternative address"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/pip-register/task-list">Go to task list</a></p>

      </form>

    </div>
  </div>

{% endblock %}
