{% extends "layouts/main.html" %}

{% block pageTitle %} Personal details {% endblock %}
{% block main %}

  <div class="govuk-width-container">
    <div class="column-full">

        <section class="dwp-quick-reference" aria-label="Case information">
          <dl class="dwp-quick-reference__block">
          <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
          <dd class="dwp-quick-reference__primary">Jane Doe</dd>
          <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
          <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
          </dl>
          </section>

          <nav class="navigation-secondary">
            <ul>
              <li>
                <a href="/case-manager-review/record-details-iteration-4" class="active">Personal details</a>
              </li>
              <li>
                <a href="/case-manager-review/supporting-docs">Supporting documents</a>
              </li>
              <li>
                <a href="/case-manager-review/cons-or-disabilities">Conditions or disabilities</a>
              </li>
              <li>
                <a href="/case-manager-review/activities">Activities</a>
              </li>
              <li>
                <a href="/event-history/v5-quick-reference/index" aria-current="section">Event history</a>
              </li>
              <li>
                <a href="/decision-tab-iteration-4-evidence" aria-current="section">Decision</a>
              </li>
      
              {# <li>
                <a href="Other-actions">Other actions</a>
              </li> #}
      
            </ul>
          </nav>

</div>

  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Personal details</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
<h2 class="govuk-tabs__title">
Personal details
</h2>
<ul class="govuk-tabs__list">
<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
<a class="govuk-tabs__tab" href="#claimant">
  Claimant
</a>
</li>
<li class="govuk-tabs__list-item">
<a class="govuk-tabs__tab" href="#health-professionals">
  Health professionals
</a>
</li>
<li class="govuk-tabs__list-item">
<a class="govuk-tabs__tab" href="#support">
  Support and communication
</a>
</li>
<li class="govuk-tabs__list-item">
  <a class="govuk-tabs__tab" href="#payment-details">
    Payment details
  </a>
  </li>
</ul>

<div class="govuk-tabs__panel" id="claimant">

  <h2 class="govuk-heading-m">Claim details</h2>

  {{ govukSummaryList ({
    rows: [
    {
      key: {
        text: "Identity verified",
        classes: "cmr-summary-list-key"
      },
      value: {
        text: "Yes"
      }
    },
      {
        key: {
          text: "Claim date",
          classes: "cmr-summary-list-key"
        },
        value: {
          text: "20 November 2021"
        }
      }
    ]
  }) }}
  
  <h2 class="govuk-heading-m">Personal data</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "National Insurance number",
          classes: "cmr-summary-list-key"
        },
        value: {
          text: "QQ 12 34 56 C"
        },
        actions: {
        }
      },
      {
        key: {
          text: "Name"
        },
        value: {
          text: data['first-name'] or "Jane Doe"
        }
      },
      {
        key: {
          text: "Age"
        },
        value: {
          text: "50"
        }
      },
      {
        key: {
          text: "Date of birth"
        },
        value: {
          text: "5 January 1978"
        }
      }
    ]
  }) }}

<h2 class="govuk-heading-m">Contact details</h2>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Home address",
        classes: "cmr-summary-list-key"
      },
      value: {
        html: "12 Pearl Street<br>Bristol<br>BS3 4AB<br>United Kingdom"
      }
    },
    {
      key: {
        text: "Can write to this address"
      },
      value: {
        text: data['write-to-home-address'] or "No"
      }
    },
    {
      key: {
        text: "Correspondence address"
      },
      value: {
        html: "11 Pearl Street<br>Bristol<br>BS3 4AB<br>United Kingdom"
      }
    },
    {
      key: {
        text: "Mobile phone number"
      },
      value: {
        text: "07777 7777777"
      }
    },
    {
      key: {
        text: "Wants text updates about claim"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "Alternative phone number"
      },
      value: {
        text: "0777 77777778"
      }
    },
    {
      key: {
        text: "Textphone"
      },
      value: {
        text: "0777 77777778"
      }
    },
    {
      key: {
        text: "Currently in health or care accommodation"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "When they went into health or care accommodation"
      },
      value: {
        text: "Not applicable"
      }
    },
    {
      key: {
        text: "Health or care accommodation address"
      },
      value: {
        text: "Not applicable"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Nationality</h2>
{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Nationality",
      classes: "cmr-summary-list-key"
    },
    value: {
      text: "Swiss"
    }
  },
    {
      key: {
        text: "Started living in UK before 1 January 2021"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Been in UK for at least 2 of the last 3 years"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Claimant or a family member get pension or benefit from another European Economic Area (EEA) state or Switzerland"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "Claimant or a family member work, pay, or have paid insurance to another European Economic Area (EEA) state or Switzerland"
      },
      value: {
        text: "No"
      }
    }
  ]
}) }}

</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="health-professionals">
  <h2 class="govuk-heading-m">Consent</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Health and care professionals can share information",
          classes: "cmr-summary-list-key"
        },
        value: {
          text: "Yes"
        }
      }
    ]
  }) }}

<h2 class="govuk-heading-m">Health professional details</h2>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Health professional 1",
        classes: "cmr-summary-list-key"
      },
      value: {
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Dr Camilla Stasiak"
      }
    },
      {
        key: {
          text: "Profession"
        },
        value: {
          text: "Doctor"
        }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        text: "020 8291 7007"
      }
  },
  {
    key: {
      text: "Address"
    },
    value: {
      html: "The Vale Medical Centre<br>
      195-197 Perry Vale<br>
      Forest Hill<br>
      London<br>
      SE23 2JF<br>
      United Kingdom"
    }
},
{
  key: {
    text: "Approximate date of last appointment"
  },
  value: {
    text: "No date given"
  }
}
  ]
}) }}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Health professional 2",
        classes: "cmr-summary-list-key"
      },
      value: {
      }
    },
      {
        key: {
          text: "Name"
        },
        value: {
          text: "Mr Ramon Niekrash"
        }
    },
      {
        key: {
          text: "Profession"
        },
        value: {
          text: "Doctor"
        }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        text: "020 8836 5435"
      }
  },
  {
    key: {
      text: "Address"
    },
    value: {
      html: "Queen Elizabeth Hospital<br>
      Stadium Rd<br>
      Greenwich<br>
      London<br>
      SE18 4QH<br>
      United Kingdom"
    }
},
{
  key: {
    text: "Approximate date of last appointment"
  },
  value: {
    text: "No date given"
  }
}
  ]
}) }}

</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="support">
<h2 class="govuk-heading-m">Help and support</h2>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Needs help communicating with us",
        classes: "cmr-summary-list-key"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Needs help completing forms and understanding letters",
        classes: "cmr-summary-list-key"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Being helped with claim"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Name of person helping with claim"
      },
      value: {
        text: "John Doe"
      }
    }
      ]
    }) }}
<br>

<h2 class="govuk-heading-m">Alternative communication format</h2>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Needs communications in another format",
        classes: "cmr-summary-list-key"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "Format needed"
      },
      value: {
        text: "Not applicable"
      }
    },
    {
      key: {
        text: "Format details"
      },
      value: {
        text: "Not applicable"
      }
    },
    {
      key: {
        text: "Motability scheme"
      },
      value: {
        text: "Yes"
      }
    }
      ]
    }) }}
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payment-details">

  <h2 class="govuk-heading-m">Payment details</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Can provide bank, building society or credit union account details",
          classes: "cmr-summary-list-key"
        },
        value: {
          text: "Yes"
        }
      }
      ]
    }) }}

    {{ govukSummaryList({
      rows: [
      {
        key: {
          text: "Account details",
          classes: "cmr-summary-list-key"
        },
        value: {
          text: ""
        }
      },
      {
        key: {
          text: "Name on the account"
        },
        value: {
          text: "Jane Doe"
        }
      },
      {
        key: {
          text: "Sort code"
        },
        value: {
          text: "055333"
        }
      },
      {
        key: {
          text: "Account number"
        },
        value: {
          text: "00001604"
        }
      },
      {
        key: {
          text: "Building society roll number"
        },
        value: {
          text: "CXJ-K6 897/98X"
        }
      }
        ]
      }) }}

  </div>

</div>
</div>
</main>
     </div>


{% endblock %}