{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}


<form class="form" action="/version-answer" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "version",
    fieldset: {
      legend: {
        text: "Case manager review: select a version",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Which version would you like to view?"
    },
    items: [
    {
      value: "Version 6",
      text: "Version 6 (latest)"
    },
    {
      value: "Version 5",
      text: "Version 5"
    },
    {
      value: "Version 4",
      text: "Version 4"
    },
    {
      value: "Version 3",
      text: "Version 3"
    }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>

<!--    {
      value: "pre-award-disallow",
      text: "Case is in pre-award: the application is being disallowed (version 1)"
    }, -->

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

  {{ dwpFooter({
    meta: {
      visuallyHiddenTitle: "Meta links",
      items: [
      ]
    }
  }) }} 

{% endblock %}
   