{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
     <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Case manager review</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#versions">
                Versions
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#scenarios">
                Scenarios
              </a>
            </li>
          </ul>

          <div class="govuk-tabs__panel" id="versions">
            <h2 class="govuk-heading-l">Versions</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Version</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">Inactive</strong> Original prototype V.1</td>
                  <td class="govuk-table__cell"><a href="/case-manager-review/record-details">V.1 prototype</a></p></td>
                  <td class="govuk-table__cell">Original prototype used for initial framework. This uses the retired key details bar</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">Inactive</strong> V.2</td>
                  <td class="govuk-table__cell"><a href="/case-manager-review/record-details">V.2 prototype</a></p></td>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                    <li>Original data row labels.</li>
                    <li>Replaced key details with quick reference component</li>
                    <li>IDV field added to personal details claimant tab</li>
                  </ul>
                </td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="scenarios">
            <h2 class="govuk-heading-l">Scenarios</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Scenario</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Built</strong> No HIG information available</td>
                  <td class="govuk-table__cell"><a href="/case-manager-review/no-hig-info/personal-details">V.1 prototype</a></p></td>
                  <td class="govuk-table__cell">If the Health Information gather has not been returned, then some information in CMR will not be available such as:
                    <ul class="govuk-list govuk-list--bullet">
                    <li>activities</li>
                    <li>conditions or disabilities</li>
                    <li>decision</li>
                  </ul>
                </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

                

      </div>
    </div>

   </main>
  </div>

  {% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}
