{% extends "layouts/main.html" %}

{% block pageTitle %} Qualifying period and Prospective test {% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="column-full">

      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jane Doe</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
        </dl>
        </section>
  </div>

  <form class="form" action="#" method="post">
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Daily living qualifing period and prospective test
        </h1>

          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              Did the applicant meet the 3 month qualifying period for daily living when they submitted their application on 1 January 2024?
          </h2>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">
          The assessment provider indicated they had daily living restrictions for at least 3 months before their assessment on 1 March 2024.</p>

          {{ govukRadios({
            name: "qppt-dl-3m-check",
            fieldset: {
              legend: {
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "EffectiveDate",
              text: "No – I need to enter the date the qualifying period will be met"
            },
            {
              value: "NoRestrictions",
              text: "No – they will not meet the qualifying period for this application"
            },
            {
              divider: "or"
            },
            {
              value: "SplitRate",
              text: "I need to make a split rate decision"
            }
            ]
          }) }}


                <!------------H1 HEADER------------>
             <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Is the applicant likely to have daily living restrictions 9 months after
              1 January 2024?
            </h2>
                <!------------Legend--------------->
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">The assessment provider indicated they are likely to have daily living restrictions 9 months after their assessment on 25 May 2024.</p>


                    {{ govukRadios({
                      name: "qppt-dl-9m-check",
                      fieldset: {
                        legend: {
                          html: dynamicH1,
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--xl"
                        }
                      },
                      hint: {
                        html: dynamicHint
                      },
                      classes: "govuk-radios",
                      items: [
                      {
                        value: "Yes",
                        text: "Yes"
                      },
                      {
                        value: "EndBefore9",
                        text: "No – the restrictions are unlikely to last 9 months"
                      }
                      ]
                    }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

         

        </div>
      </div>
    </form> 
    
    </div>

{% endblock %}