{% if (data['regScena'] == "agent" ) %}
    {% extends "../../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../../layouts/main-v3.html" %}
{% endif %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="any-other-help-when-we-contact" method="post">

      {{ govukRadios({
      name: "font-format",
      fieldset: {
      legend: {
      text: "What signing or lipspeaking service do you need?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "British Sign Language (BSL) interpreter",
      text: "British Sign Language (BSL) interpreter"
      },
      {
      value: "Deafblind Manual alphabet",
      text:  "Deafblind Manual alphabet"
      },
      {
        value: "Hands-on signing",
        text:  "Hands-on signing"
        },
        {
          value: "Lipspeaking",
          text:  "Lipspeaking"
          }, 
        {
          value: "Sign Supported English",
          text:  "Sign Supported English"
          }
      ]
      }) }}

      {{ govukButton({
      text: "Save and continue"
      }) }}

      <p><a href="task-list-cd-done">Go to task list</a></p>

    </form> 

  </div>
</div> 

{% endblock %}

