{% extends "layouts/main.html" %}

{% block pageTitle %} Timeline {% endblock %}

{% block main %}

{% include "./record-id-bar.html" %}


  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="/case-manager-review/record-details">Personal details</a>
        </li>
        <li>
          <a href="#">Supporting documents</a>
        </li>
        <li>
          <a href="#">Conditions</a>
        </li>
        <li>
          <a href="#">Activities</a>
        </li>
        <li>
          <a href="event-history" class="active" aria-current="section">Timeline</a>
        </li>

        {# <li>
          <a href="Other-actions">Other actions</a>
        </li> #}

      </ul>
    </nav>
</div>


 <br><br><br><br>

<h1 class="govuk-heading-l">Timeline</h1>

{{ govukButton({
  text: "Add new event",
  href:"/event-history/scenarios/withdraw-claim/add-an-event"
}) }}

<div class="dwp-timeline">
  <ol class="dwp-timeline__events">
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim withdrawn</h2>
    <p class="govuk-caption-m">28 June 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Withdraw claim</h2>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">Outbound call</p>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">Contact made with claimant to confirm they intend to withdraw their claim. IDV passed.</p>
    <p class="govuk-caption-m">28 June 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Other</h2>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">Information from HAS</p>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">Received email from HAS explaining claimant wishes to withdraw their application.</p>
    <p class="govuk-caption-m">24 June 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Ready for decision </h2>
    <p class="govuk-caption-m">2 June 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Returned from assessment provider</h2>
    <p class="govuk-caption-m">1 June 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Referred to assessment provider</h2>
    <p class="govuk-caption-m">16 May 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Submitted</h2>
    <p class="govuk-caption-m">14 May 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Health and Disability</h2>
    <p class="govuk-caption-m">4 May 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Registration</h2>
    <p class="govuk-caption-m">3 May 2024</p>
  </li>
  </ol>
  </div>


<br><br>

</div>


{% endblock %}
