{% extends "layouts/main.html" %}

{% block pageTitle %} Add a note {% endblock %}

{% block main %}

{% include "./record-id-bar.html" %}


  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="#">Personal details</a>
        </li>
        <li>
          <a href="#">Supporting documents</a>
        </li>
        <li>
          <a href="#">Conditions</a>
        </li>
        <li>
          <a href="#">Activities</a>
        </li>

        <li>
          <a href="../event-history" class="active" aria-current="section">Timeline</a>
        </li>

        {# <li>
          <a href="Other-actions">Other actions</a>
        </li> #}

      </ul>
    </nav>
</div>

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/event-history/v3/add-an-event"
}) }}
{% endblock %}


 <br><br><br><br>

 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  id: "exceeding-characters",
  name: "exceeding",
  maxlength: 2000,
  value: "",
  label: {
    text: "Add a note",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Enter more information about this event."
  }
}) }}

{{ govukButton({
  text: "Save and continue",
  href: "/event-history/scenarios/withdraw-claim/withdraw-claim"
}) }}

  </div>
  </div>

<br><br>

</div>


{% endblock %}
