{% if data["record-1-event-history-reason"] %}
{% set html %}
<p class="govuk-body govuk-!-font-size-19">Yo! an entry was added to the Event History</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'information'
}) }}

{% else %}
{% endif %}


{% if data["find-someone-1-offline-return"]  == "Yes" %}

  {% else %}

        {% if data["record-1-bank-detials-j-1-bank-name"] %}
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Bank details have been added</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% else %}
        {% endif %}



        {% if data["record-other-actions"]  == "Yes" %}
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Call details and any actions have been saved and added to the person's account. Internal teams will be notified and will start their processes.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'error'
        }) }}