{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
     <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Find an applicant or claimant</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#versions">
                Versions
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#scenarios">
                Scenarios
              </a>
            </li>
          </ul>

          <div class="govuk-tabs__panel" id="versions">
            <h2 class="govuk-heading-l">Versions</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Version</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">Inactive</strong> V.1 Find a claimant</td>
                  <td class="govuk-table__cell"><a href="/find-someone/v1/search-claimant-v1">V.1</a></p></td>
                  <td class="govuk-table__cell">find a claimant (applicant term not introduced yet).</td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="scenarios">
            <h2 class="govuk-heading-l">Scenarios</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Scenario</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Built</strong> No NINO found</td>
                  <td class="govuk-table__cell"><a href="/find-someone/v2/no-nino-found">V.2</a></p></td>
                  <td class="govuk-table__cell"> No applicant or claimant records found for the searched National Insurance number.
                </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Built</strong> Multiple applications</td>
                  <td class="govuk-table__cell"><a href="/find-someone/v1/multiple-results">V.1</a></p></td>
                  <td class="govuk-table__cell"> Multiple applications: 2 claimants share NINO
                </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

                

      </div>
    </div>

   </main>
  </div>

  {% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}
