{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set passHtml %}
        {{ govukInput({
          id: "pass",
          name: "pass",
          type: "email",
          autocomplete: "pass",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Pass type"
          },
          hint: {
            text: "Automated, biographical questions, memorable information, security questions, Implicit Consent "
          }
        }) }}
        {% endset -%}


        {{ govukRadios({
          name: "security-questions",
          fieldset: {
            legend: {
              text: "What was the security question outcome?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "passed",
              text: "Passed",
              conditional: {
                html: passHtml
              }
            },
            {
              value: "authenticated",
              text: "Authenticated"
            },
            {
              value: "unauthenticated",
              text: "Unauthenticated"
            },
            {
              value: "fail",
              text: "Fail",
              conditional: {
                html: failHtml,
                hint: {
                  text: "Automated, biographical questions, memorable information, security questions, Implicit Consent "
                }
              }
            },
            {
              value: "abandoned-insufficient-data",
              text: "Abandoned Insufficient Data"
            },
            {
              value: "abandoned-other",
              text: "'Abandoned Other"
            },
            {
              value: "not-applicable",
              text: "Not Applicable"
            }
          ]
        }) }}

      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}

