{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "/layouts/main-v3.html" %}
{% endif %}

{% set isDeclarationPre = true %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-l">
        We no longer accept a change of circumstances for DLA 
      </h1>
      <p class="govuk-body">We will have to send you a letter inviting you to claim PIP.
        <br> 
        <br>
        You can choose to claim PIP or not but either way, your DLA payments will stop.
      </p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{{ govukInsetText({
  classes: 'colour-blue',
  html: 'Action: Complete a task in PIPCS for back office to issue a claim invitation. 
         <br>
         Include the claimant’s name and NINO.
         <br> 
         Enter in notes: "REASSESSMENT CASE. In Scope. Change in needs reported. Issue clerical invite."' | safe
}) }}


  </form>

  </div>
</div>

{% endblock %}
