{% extends "/layouts/main-v3.html" %}
{% from "components/third-party-name.njk" import thirdPartyCaption %}
{% set thirdPartyName = data['thirdPartyName'] %}
{% set applicantName = data['applicantName'] %}


{% set isDeclarationPre = true %}
{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <form action="dla-0-pre" method="post" novalidate>

                    {{ thirdPartyCaption({
            thirdPartyName: thirdPartyName,
            applicantName: applicantName,
            heading: "I've found your record on the system",
              hint: ""
        }) }}

             {{ govukInsetText({
              classes: 'colour-blue',
              text: "Action: Check whether the applicant is getting DLA."
            }) }}
          

            {{ govukRadios({
              name: "dla-pre-choice",
              
              items: [
                {
                  value: "yes",
                  text: "Yes, they are getting DLA"
                },
                {
                  value: "no",
                  text: "No, they are not getting DLA"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
   </div>
</div>

{% endblock %}
