{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "/layouts/main-v3.html" %}
{% endif %}

{% set isDeclarationPre = true %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-l">
        You do not need to apply for PIP now
      </h1>

      <p class="govuk-body">
       You will continue getting the highest rate for your care and mobility components.
      <br>
      <br>
    We will send you an invitation to apply for PIP when your DLA claim ends.</a>

      <!-- {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        classes: 'colour-blue',
          text: "Action: ________"
      }) }} -->

      <div>


  </form>

  </div>
</div>

{% endblock %}
