{% extends "/layouts/main-v3.html" %}

{% set isDeclarationPre = true %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="service-start-page" method="post">

      <h1 class="govuk-heading-l">
        Hello, you're through to the new claims line for Personal Independence Payment (PIP)</h1>


{{ govukInsetText({
        classes: 'colour-blue',
          text: "Action: Tell the caller your name."
      }) }}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "new-app",
          fieldset: {
            legend: {
              text: "How can I help you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "pip",
              text: "I want to apply for PIP"
            },
            {
              value: "existing",
              text: "I want to talk about an existing claim"
            },
          {
              value: "dla",
              text: "I want to report a change of circumstances"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>


{% endblock %}
