{% if (data['regScena'] == "agent" ) %}
    {% extends "../../../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../../../layouts/main.html" %}
{% endif %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        <h1 class="govuk-heading-l">
          Have you made an application to the EU Settlement Scheme or been given a status from the EU Settlement Scheme?
        </h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
              name: "eu-settlement",
              fieldset: {
              legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "no",
              text: "Don't know"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-nat-in-progress"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
