{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main.html" %}
{% endif %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          <h1 class="govuk-heading-l">
            Is there anyone else who knows about your condition and how it affects you?
          </h1>

          {% call govukFieldset({
            legend: {
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <p class="govuk-hint"> For example, another health or care professional who knows about your living and mobility needs. </p>


          {{ govukRadios({
            name: "support-needed",


            items: [
              {
              value: "yes",
              text: "Yes"
              },
              {
              value: "no",
              text: "No"
              }
            ]
          }) }}

          {% endcall %}

          <a href="../healthcare-professional/additional-support-type.html" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
            Save and continue
        </a>

            <p><a href="/pip-register/task-list-nat-done">Go to task list</a></p> 


        </div>
      </form>
    </div>
  </div>

{% endblock %}
