{% if (data['regScena'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['regScena'] == "citizen" ) %}
      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          {% call govukFieldset({
            legend: {
              text: "Find their address?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

         <div class="govuk-hint">You can give us their home address if they’re a friend or family member.</div>
         <div class="govuk-hint govuk-!-margin-bottom-3"></div>

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-!-width-two-thirds",
            id: "postcode",
            name: "postcode"
          }) }}

          {{ govukInput({
            label: {
              text: "Building number or name (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "searchString",
            name: "searchString"
          }) }}
          {% endcall %}

            {{ govukButton({
              text: "Find address"
            }) }}

          <p class="govuk-body"><a href="/pip-register/healthcare-professional/support-address-manually" class="govuk-link">Enter address manually</a></p>

          <p class="govuk-body"><a href="/pip-register/healthcare-professional/consent" class="govuk-link">Applicant does not know the address</a></p>

          <p><a href="/pip-register/task-list-nat-done">Go to task list</a></p> 

        </div>
      </form>
      {% else %}
      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          {% call govukFieldset({
            legend: {
              text: "What is the postcode and building number of their address?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

         <!-- <div class="govuk-hint">You can give us their home address if they’re a friend or family member.</div> -->
         <div class="govuk-hint govuk-!-margin-bottom-3"></div>

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-!-width-two-thirds",
            id: "postcode",
            name: "postcode"
          }) }}

          {{ govukInput({
            label: {
              text: "Building number or name (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "searchString",
            name: "searchString"
          }) }}
          {% endcall %}

          <a href="../healthcare-professional/confirm-address-2.html" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
            Continue
        </a>

            <p class="govuk-body"><a href="/pip-register/healthcare-professional/consent class="govuk-link">Applicant does not know the address</a></p>

          <p class="govuk-body"><a href="/pip-register/healthcare-professional/support-address-manually" class="govuk-link">Enter address manually</a></p>

          <p><a href="/pip-register/task-list-nat-done">Go to task list</a></p> 

        </div>
      </form>

      {% endif %}
      
    </div>
  </div>

{% endblock %}
