{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>




{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if the applicant meets the age criteria",
      href: "#"
    }
  ]
}) }}


<!------------ ––– ------------>

<form class="form" action="/age-criteria-answer" method="post">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Do they meet the age criteria?</h1>
  <div id="dob-hint" class="govuk-hint">
    Check Searchlight
  </div>
  <p class="govuk-body"><a href="https://www.gov.uk/state-pension-age" class="govuk-link" rel="noreferrer noopener" target="_blank">Check the applicant's State Pension age (opens in new tab)</a></p>
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "AgeCriteria",
    errorMessage: {
      text: "Select yes if the applicant meets the age criteria"
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No, applicant is over State Pension age",
        text: "No, applicant is over State Pension age"
      },
      {
        value: "No, applicant is under 16 years old",
        text: "No, applicant is under 16 years old"
      },
      {
        value: "I need to come back to this later",
        text: "I need to come back to this later"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
