{% extends "layouts/main.html" %}

{% block pageTitle %} Which other benefits does the applicant or claimant get? - PIP Case review - GOV.UK {% endblock %}

{% block main %}
<div class="govuk-width-container">
<div class="govuk-grid-row">



  <form action="eligibility-tasks-ur" method="post" class="form">






<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row govuk-!-margin-top-7">
<div class="govuk-grid-column-three-quarters">
<form action="login-router" method="post" class="form">

 <h1 class="govuk-heading-m quick-ref govuk-!-margin-bottom-1">Jane Doe</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>



<h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check details about the applicant</h2>
<!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->






<!------------ ––– ------------>



  


<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Does their National Insurance number match what we hold in Searchlight?
</h1>

</legend>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-0" name="assurance-sub-monolith-1-0" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-0">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-0-2" name="assurance-sub-monolith-1-0" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-0-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>






<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Does their name match what we hold in Searchlight?
</h1>

</legend>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-1" name="assurance-sub-monolith-1-1" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-1">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-1-2" name="assurance-sub-monolith-1-1" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-1-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>





<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-1-3-hint">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Does their address match what we hold in Searchlight?
</h1>

</legend>


<div id="assurance-sub-monolith-1-3-hint" class="govuk-hint">
You can also check the National Insurance Recording System (NIRS).
</div>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-3" name="assurance-sub-monolith-1-3" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-3">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-3-2" name="assurance-sub-monolith-1-3" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-3-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>





<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Does their date of birth match what we hold in Searchlight?
</h1>

</legend>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-4" name="assurance-sub-monolith-1-4" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-4">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-4-2" name="assurance-sub-monolith-1-4" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-4-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>





<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Is there a date of death on Searchlight?
</h1>

</legend>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-2" name="assurance-sub-monolith-1-2" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-2">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-2-2" name="assurance-sub-monolith-1-2" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-2-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>





<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Does their nationality match what we hold in Searchlight?
</h1>

</legend>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-5" name="assurance-sub-monolith-1-5" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-5">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-5-2" name="assurance-sub-monolith-1-5" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-5-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>



  


<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-1-6-hint">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Is there any evidence to suggest this applicant could have been made under Special Rules End of Life (SREL)?
</h1>

</legend>


<div id="assurance-sub-monolith-1-6-hint" class="govuk-hint">
Check supporting documents for an SR1 form.
</div>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-6" name="assurance-sub-monolith-1-6" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-6">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-6-2" name="assurance-sub-monolith-1-6" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-6-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>



    


<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Do they have a representative or appointee on Searchlight?
</h1>

</legend>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-7" name="assurance-sub-monolith-1-7" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-7">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-7-2" name="assurance-sub-monolith-1-7" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-7-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>





<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-1-8-hint">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Have they withdrawn their application?
</h1>

</legend>


<div id="assurance-sub-monolith-1-8-hint" class="govuk-hint">
Check event history and supporting documents for a letter requesting their application to be withdrawn.
</div>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-8" name="assurance-sub-monolith-1-8" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-8">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-8-2" name="assurance-sub-monolith-1-8" type="radio" value="Expected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-8-2">
  No
</label>
    
  </div>
  
  


</div>


</fieldset>


</div>






<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-1-9-hint">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

<h1 class="govuk-fieldset__heading">
Do they meet the age criteria?
</h1>

</legend>


<div id="assurance-sub-monolith-1-9-hint" class="govuk-hint">
Check Searchlight.
</div>


<div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">


    
  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-9" name="assurance-sub-monolith-1-9" type="radio" value="Expected" checked>
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-9">
  Yes
</label>
    
  </div>
  
  



  
  
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-9-2" name="assurance-sub-monolith-1-9" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-9-2">
      No, applicant is over State Pension age
</label>
    
  </div>
  
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="assurance-sub-monolith-1-9-2" name="assurance-sub-monolith-1-9" type="radio" value="Unexpected">
    <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-1-9-2">
      No, applicant is under 16 years old
</label>
    
  </div>


</div>


</fieldset>


</div>



<form action="eligibility-tasks-ur" method="post" class="form">








<button type="submit" class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
Continue
</button>







  </div>
</div>

</form>
</div>
{% endblock %}
