{% extends "layouts/main.html" %}

{% block pageTitle %} Which type of institution or accommodation did the applicant or claimant stay in? - PIP Case review - GOV.UK {% endblock %}

{% block main %}

   <div class="govuk-width-container">
    <div class="column-full">
      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jane Doe</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
        </dl>
      </section>


  </div>

 <br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">There are issues with this application</h1>
    {% if scenario == "pre-award-disallow" %}
    <p class="govuk-body"><strong>These are the issues</strong></p>
<ul class="govuk-list govuk-list--bullet">
  <li>They do not meet the age criteria</li>
</ul>
    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "next",
        fieldset: {
          legend: {
            text: "What do you want to do now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Send application to assessment provider",
          text: "Send application to assessment provider"
        },
        {
          value: "Move application to PIPCS",
          text: "Move application to PIPCS"
        },
        {
          value: "Disallow application",
          text: "Disallow application"
        },
        {
          value: "Withdraw application",
          text: "Withdraw application"
        }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/case-eject/disallow-instruction-ur"
      }) }}
      {% endif %}

      {% if scenario == "pre-award-disallow-v2" %}
      <p class="govuk-body"><strong>These are the issues</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>They do not meet the age criteria: applicant is over State Pension age</li>
      </ul>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Disallow application",
        href: "/case-eject/disallow-confirmation"
      }) }}
      {% endif %}

</form>

</div>
</div>



<br><br>

</div>


{% endblock %}
