{% extends "layouts/main.html" %}

{% block pageTitle %} Are you sure this claim needs to move to PIPCS? - PIP Case review - GOV.UK {% endblock %}

{% block main %}

      <div class="govuk-width-container">
        <div class="column-full">
          <section class="dwp-quick-reference" aria-label="Case information">
            <dl class="dwp-quick-reference__block">
            <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
            <dd class="dwp-quick-reference__primary">Jane Doe</dd>
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
            <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
            </dl>
            </section>
        
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="/case-manager-review/record-details-iteration-4" aria-current="section">Personal details</a>
        </li>
        <li>
          <a href="#">Supporting documents</a>
        </li>
        <li>
          <a href="#">Conditions or disabilities</a>
        </li>
        <li>
          <a href="#">Activities</a>
        </li>
        <li>
          <a href="/event-history/v5-quick-reference/index" class="active" aria-current="section">Event history</a>
        </li>
        <li>
          <a href="/decision-tab-iteration-4-evidence" aria-current="section">Decision</a>
        </li>

        {# <li>
          <a href="Other-actions">Other actions</a>
        </li> #}

      </ul>
    </nav>
</div>

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


 <br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Select yes if you need to stop payments in PIP service and move the claim to PIPCS",
          href: "#"
        }
      ]
    }) }}
    <h1 class="govuk-heading-xl">Are you sure this claim needs to move to PIPCS?</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you select yes, this will stop payments in PIP Service.
      </strong>
    </div>

    <form class="form" action="/confirmation-answer" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
 
 {{ govukRadios({
  name: "confirmation",
  errorMessage: {
    text: "Select yes if you need to stop payments in PIP service and move the claim to PIPCS"
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
</div>
</div>



<br><br>

</div>


{% endblock %}
