{% extends "layouts/main.html" %}

{% block pageTitle %} Which other benefits does the applicant or claimant get? - PIP Case review - GOV.UK {% endblock %}

{% block main %}

   <div class="govuk-width-container">
    <div class="column-full">
      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jane Doe</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
        </dl>
      </section>
      {% if scenario == "pre-award-disallow" %}  
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="/case-manager-review/record-details-iteration-4" aria-current="section">Personal details</a>
          </li>
          <li>
            <a href="#">Supporting documents</a>
          </li>
          <li>
            <a href="#">Conditions or disabilities</a>
          </li>
          <li>
            <a href="#">Activities</a>
          </li>
          <li>
            <a href="/event-history/v5-quick-reference/index" class="active" aria-current="section">Event history</a>
          </li>
          <li>
            <a href="/decision-tab-iteration-4-evidence" aria-current="section">Decision</a>
          </li>

          {# <li>
            <a href="Other-actions">Other actions</a>
          </li> #}

        </ul>
      </nav>
      {% endif %}

  </div>


  {% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


 <br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/disallow-confirmation-answer" method="post">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "disallow-confirmation",
        fieldset: {
          legend: {
            text: "Which actions have you taken to disallow this application?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
        {
          value: "email",
          text: "I have sent an email to Attendance Allowance, and included the applicant's name, National Insurance number, and date of claim"
        },
        {
          value: "letter",
          text: "I have sent the disallow letter to the applicant"
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

</form>

<!--{% if disallow == "Applicant is under 16 years old" %}
<form class="form" action="/disallow-confirmation-answer2" method="post">
{% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "disallow-confirmation2",
        fieldset: {
          legend: {
            text: "Have you sent a disallow letter to the applicant?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
{% endif %}-->
</form>
</div>
</div>



<br><br>

</div>


{% endblock %}
