{% extends "layouts/main.html" %}

{% block pageTitle %} Which other benefits does the applicant or claimant get? - PIP Case review - GOV.UK {% endblock %}

{% block main %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">


    <form action="entitlement-tasks-ur" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

       <h1 class="govuk-heading-m quick-ref govuk-!-margin-bottom-1">Jane Doe</h1>
      

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

    </div>
  </div>



      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check any potential flags or markers</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->


        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-2-1-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they need additional support?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-2-1-hint" class="govuk-hint">
    Check registration (PIP1).
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-1" name="assurance-sub-monolith-2-1" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-1">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-1-2" name="assurance-sub-monolith-2-1" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-1-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>



        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-2-2-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they need an alternative format?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-2-2-hint" class="govuk-hint">
    Check registration (PIP1) and Searchlight.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-2" name="assurance-sub-monolith-2-2" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-2">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-2-2" name="assurance-sub-monolith-2-2" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-2-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>



        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-2-3-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Is there evidence of fraud?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-2-3-hint" class="govuk-hint">
    Check Searchlight and event history.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-3" name="assurance-sub-monolith-2-3" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-3">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-3-2" name="assurance-sub-monolith-2-3" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-3-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>


        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they have an unacceptable customer behaviour (UCB) or keep customer interactions safe (KCIS) marker on Searchlight?
    </h1>
  
  </legend>
  

  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-4" name="assurance-sub-monolith-2-4" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-4">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-4-2" name="assurance-sub-monolith-2-4" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-4-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>



        <!-- TBC
        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-2-5-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      2 Does their gender match what we hold in Searchlight?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-2-5-hint" class="govuk-hint">
    You can also call the applicant if necessary.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-5" name="assurance-sub-monolith-2-5" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-5">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-5-2" name="assurance-sub-monolith-2-5" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-5-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>
 -->




<!--
        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-2-4-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Have they returned the health information gather (PIP2)?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-2-4-hint" class="govuk-hint">
    If there is no health information gather (PIP2), check the event history for evidence of good cause for not returning it. 
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-4" name="assurance-sub-monolith-2-4" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-4">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-4-2" name="assurance-sub-monolith-2-4" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-4-2">
        No - but good cause has been accepted for not returning it
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-4-3" name="assurance-sub-monolith-2-4" type="radio" value="Blocked">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-4-3">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>
 -->

        <!-- 


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-2-5-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Have they attended their assessment?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-2-5-hint" class="govuk-hint">
    Check assessment provider contact history or event history for evidence of good cause if they have not attended their assessment.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-5" name="assurance-sub-monolith-2-5" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-5">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-5-2" name="assurance-sub-monolith-2-5" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-5-2">
        No - but good cause has been accepted for not attending
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-2-5-3" name="assurance-sub-monolith-2-5" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-2-5-3">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>
 -->



<form action="entitlement-tasks-ur" method="post" class="form">

  
  

  
    
  

<button type="submit" class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
  Continue
</button>





        </div>
      </div>

  </form>
</div>
{% endblock %}
