{% extends "layouts/main.html" %}

{% block pageTitle %} Which other benefits does the applicant or claimant get? - PIP Case review - GOV.UK {% endblock %}

{% block main %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">


    <form action="assurance-outcome-ur" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

       <h1 class="govuk-heading-m quick-ref govuk-!-margin-bottom-1">Jeff Bridges</h1>
      

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

    </div>
  </div>



      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check any benefits or if the applicant is working abroad</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




<!-- Post AP
        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-1-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Is there anything that may affect payability?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-1-hint" class="govuk-hint">
    Check the health information gather (PIP2).
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1" name="assurance-sub-monolith-3-1" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1-2" name="assurance-sub-monolith-3-1" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1-2">
        No
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1-3" name="assurance-sub-monolith-3-1" type="radio" value="Blocked">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1-3">
        Health information gather (PIP2) has not been returned
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>
 -->

<!-- Post AP
          


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-2-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they meet the qualifying period and prospective test conditions?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-2-hint" class="govuk-hint">
    Check the health information gather (PIP2).
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-2" name="assurance-sub-monolith-3-2" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-2">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-2-2" name="assurance-sub-monolith-3-2" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-2-2">
        No
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-2-3" name="assurance-sub-monolith-3-2" type="radio" value="Blocked">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-2-3">
        Health information gather (PIP2) has not been returned
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>
 -->


 <div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-1-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Did the applicant have a PIP claim that ended in the 12 months before their new date of claim?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-1-hint" class="govuk-hint">
    Check registration (PIP1). Call the applicant if necessary. 
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1" name="assurance-sub-monolith-3-1" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1-2" name="assurance-sub-monolith-3-1" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-1-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Are they working abroad?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-1-hint" class="govuk-hint">
    Check registration (PIP1). Call the applicant if necessary. 
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1" name="assurance-sub-monolith-3-1" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-1-2" name="assurance-sub-monolith-3-1" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-1-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>





<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-2-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they get any foreign benefits?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-2-hint" class="govuk-hint">
    Check the registration (PIP1). Call the applicant if necessary. 
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-2" name="assurance-sub-monolith-3-2" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-2">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-2-2" name="assurance-sub-monolith-3-2" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-2-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>





<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-3-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they get Disability Living Allowance (DLA)?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-3-hint" class="govuk-hint">
    Check Searchlight and CPS.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-3" name="assurance-sub-monolith-3-3" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-3">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-3-2" name="assurance-sub-monolith-3-3" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-3-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>





<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-4-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they get Child Disability Payment (CDP) or Adult Disability Payment (ADP)?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-4-hint" class="govuk-hint">
    Check Searchlight. 
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-4" name="assurance-sub-monolith-3-4" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-4">
        Yes - CDP
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-4-2" name="assurance-sub-monolith-3-4" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-4-2">
        Yes - ADP
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-4-3" name="assurance-sub-monolith-3-4" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-4-3">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>





<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-5-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they get Armed Forces Personal Independence Payment (AFPIP)?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-5-hint" class="govuk-hint">
    Check Searchlight and contact Veterans UK if necessary.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-5" name="assurance-sub-monolith-3-5" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-5">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-5-2" name="assurance-sub-monolith-3-5" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-5-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>



        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-6-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they get War Pensioners' Mobility Supplement (WPMS)?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-6-hint" class="govuk-hint">
    Check Searchlight and email the war pensions team if necessary.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-6" name="assurance-sub-monolith-3-6" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-6">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-6-2" name="assurance-sub-monolith-3-6" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-6-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>


        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-7-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Do they get Constant Attendance Allowance (CAA)?
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-7-hint" class="govuk-hint">
    Check Searchlight.
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-7" name="assurance-sub-monolith-3-7" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-7">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-7-2" name="assurance-sub-monolith-3-7" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-7-2">
        No
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>


        <!-- 


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="assurance-sub-monolith-3-5-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
  
    <h1 class="govuk-fieldset__heading">
      Check 5: Action
    </h1>
  
  </legend>
  

  <div id="assurance-sub-monolith-3-5-hint" class="govuk-hint">
    Check details
  </div>


  <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-5" name="assurance-sub-monolith-3-5" type="radio" value="Expected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-5">
        Expected
      </label>
          
        </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="assurance-sub-monolith-3-5-2" name="assurance-sub-monolith-3-5" type="radio" value="Unexpected">
          <label class="govuk-label govuk-radios__label" for="assurance-sub-monolith-3-5-2">
        Unexpected
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>
 -->


  
  

  
    
  

<button type="submit" class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
  Continue
</button>


</form>


        </div>
      </div>

</div>
{% endblock %}
