{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}
<p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">in design</strong></p>

<form class="form" action="/scenario-answer" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "scenario",
    fieldset: {
      legend: {
        text: "Move to PIPCS: select scenario",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Which scenario do you want to simulate?"
    },
    items: [
    {
      value: "pre-award",
      text: "Pre-award"
    },
    {
      value: "post-award",
      text: "Post-award"
    }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

  {{ dwpFooter({
    meta: {
      visuallyHiddenTitle: "Meta links",
      items: [
      ]
    }
  }) }} 

{% endblock %}
   