{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}
<p class="govuk-body"><strong class="govuk-tag govuk-tag--yellow">in design</strong></p>

<form class="form" action="/scenario-answer" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "scenario",
    fieldset: {
      legend: {
        text: "Event history: select a scenario",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Which scenario do you want to simulate?"
    },
    items: [
    {
      value: "pre-award",
      text: "Case is pre-award"
    },
    {
      value: "pre-award-disallow-v2",
      text: "Case is in pre-award: the application is being disallowed"
    },
    {
      value: "pre-award-reason-added",
      text: "Case is in pre-award: a move reason to move to PIPCS has been added"
    },
    {
      value: "post-award",
      text: "Case is in post award"
    },
    {
      value: "post-award-reason-added",
      text: "Case is in post-award: a move reason to move to PIPCS has been added"
    }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>

<!--    {
      value: "pre-award-disallow",
      text: "Case is in pre-award: the application is being disallowed (version 1)"
    }, -->

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

  {{ dwpFooter({
    meta: {
      visuallyHiddenTitle: "Meta links",
      items: [
      ]
    }
  }) }} 

{% endblock %}
   