{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Case eject</h1>
      
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <p class="govuk-body"><a href="/case-eject/event-history">Case eject for structured data</a></p>
  </dt>
  <dd class="govuk-summary-list__value">
    <strong class="govuk-tag govuk-tag--yellow">in design</strong>
  </dd> 
</div>

  {% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}
