{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>


{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select if the applicant had a PIP claim that ended in the 12 months before their new date of claim",
      href: "#"
    }
  ]
}) }}


<!------------ ––– ------------>

<form class="form" action="/pip-answer" method="post">
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "pip",
    fieldset: {
      legend: {
        text: "Did they have a PIP claim that ended in the 12 months before their new date of claim?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Check Searchlight"
    },
    errorMessage: {
      text: "Select yes if the applicant had a PIP claim that ended in the 12 months before their new date of claim"
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      },
      {
        value: "I need to come back to this later",
        text: "I need to come back to this later"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
