{% extends "layouts/main.html" %}

{% block pageTitle %} Add an event {% endblock %}

{% block main %}

   <div class="govuk-width-container">
    <div class="column-full">
      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jane Doe</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
        </dl>
      </section>
        
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="/case-manager-review/record-details-iteration-4" aria-current="section">Personal details</a>
          </li>
          <li>
            <a href="#">Supporting documents</a>
          </li>
          <li>
            <a href="#">Conditions or disabilities</a>
          </li>
          <li>
            <a href="#">Activities</a>
          </li>
          <li>
            <a href="/event-history/v5-quick-reference/index" class="active" aria-current="section">Event history</a>
          </li>
          <li>
            <a href="/decision-tab-iteration-4-evidence" aria-current="section">Decision</a>
          </li>

          {# <li>
            <a href="Other-actions">Other actions</a>
          </li> #}

        </ul>
      </nav>

  </div>


  {% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


 <br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    {% if scenario == "pre-award" or scenario == "pre-award-reason-added" %}
<form class="form" action="/reason-answer" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "reason",
    fieldset: {
      legend: {
        text: "Why does the application need to move to PIPCS?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "If there is more than one reason, you can select other reasons after you add this one."
    },
    items: [
    {
      value: "Alternative format needed",
      text: "Alternative format needed"
    },
    {
      value: "Applicant gets other benefits",
      text: "Applicant gets other benefits"
    },
    {
      value: "Appointee added",
      text: "Appointee added"
    },
    {
      value: "Change of personal details",
      text: "Change of personal details"
    },
    {
      value: "Death of applicant or claimant",
      text: "Death of applicant or claimant"
    },
    {
      value: "Details do not match Searchlight record",
      text: "Details do not match Searchlight record"
    },
    {
      value: "Evidence of fraud",
      text: "Evidence of fraud"
    },
    {
      value: "Immigration status",
      text: "Immigration status"
    },
    {
      value: "Keep customer interactions safe (KCIS) marker",
      text: "Keep customer interactions safe (KCIS) marker"
    },
    {
      value: "Mandatory reconsideration",
      text: "Mandatory reconsideration"
    },
    {
      value: "Health assessment could not be completed",
      text: "Health assessment could not be completed"
    },
    {
      value: "Residence and presence criteria",
      text: "Residence and presence criteria"
    },
    {
      value: "Special rules for end of life (SREL)",
      text: "Special rules for end of life (SREL)"
    },
    {
      value: "Stays in prison, hospital or other accommodation",
      text: "Stays in prison, hospital or other accommodation"
    },
    {
      value: "Withdrawn claim",
      text: "Withdrawn claim"
    },
    {
      value: "Working abroad",
      text: "Working abroad"
    },
    {
      divider: "or"
    },
    {
      value: "Other",
      text: "Other"
    }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>


{% elif scenario == "post-award" or scenario == "post-award-reason-added" %}
<form class="form" action="/reason-answer" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "reason",
    fieldset: {
      legend: {
        text: "Why does the claim need to move to PIPCS?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "If there is more than one reason, you can select other reasons after you add this one."
    },
    items: [
    {
      value: "Alternative format needed",
      text: "Alternative format needed"
    },
    {
      value: "Applicant gets foreign benefits",
      text: "Applicant gets foreign benefits"
    },
    {
      value: "Appointee added",
      text: "Appointee added"
    },
    {
      value: "Change of personal details",
      text: "Change of personal details"
    },
    {
      value: "Claimant did not receive payment",
      text: "Claimant did not receive payment"
    },
    {
      value: "Death of applicant or claimant",
      text: "Death of applicant or claimant"
    },
    {
      value: "Details do not match Searchlight record",
      text: "Details do not match Searchlight record"
    },
    {
      value: "Evidence of fraud",
      text: "Evidence of fraud"
    },
    {
      value: "Health assessment could not be completed",
      text: "Health assessment could not be completed"
    },
    {
      value: "Immigration status",
      text: "Immigration status"
    },
    {
      value: "Keep customer interactions safe (KCIS) marker",
      text: "Keep customer interactions safe (KCIS) marker"
    },
    {
      value: "Mandatory reconsideration",
      text: "Mandatory reconsideration"
    },
    {
      value: "New evidence sent after decision",
      text: "New evidence sent after decision"
    },
    {
      value: "New Motability agreement",
      text: "New Motability agreement"
    },
    {
      value: "Residence and presence criteria",
      text: "Residence and presence criteria"
    },
    {
      value: "Request for split payment",
      text: "Request for split payment"
    },
    {
      value: "Special rules for end of life (SREL)",
      text: "Special rules for end of life (SREL)"
    },
    {
      value: "Stays in prison, hospital or other accommodation",
      text: "Stays in prison, hospital or other accommodation"
    },
    {
      value: "Withdrawn claim",
      text: "Withdrawn claim"
    },
    {
      value: "Working abroad",
      text: "Working abroad"
    },
    {
      divider: "or"
    },
    {
      value: "Other",
      text: "Other"
    }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>
{% endif %}

</div>
</div>



<br><br>

</div>


{% endblock %}
