{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Decision tab versions</h1>

<ul class="govuk-list">
 <li class="govuk-!-padding-bottom-2"><strong class="govuk-tag">build ready</strong> <a href='/qppt/met-v1'>V.3 QP/PT added</a></li>
 <li class="govuk-!-padding-bottom-2"><strong class="govuk-tag govuk-tag--purple">Built</strong> <a href='/decision-tab-iteration-4-evidence'>HTPN-1301: V.3 supporting documents added</a></li>
 
 <li class="govuk-!-padding-bottom-2"><strong class="govuk-tag govuk-tag--purple">Built</strong> <a href="/decision-tab-iteration-3-activity-h3">HTPN-1309: V.2 outcome and award added</a></li>
 <li class="govuk-!-padding-bottom-2"><strong class="govuk-tag govuk-tag--purple">Built</strong> <a href='/decision-tab-iteration-3-activity-h3'>V.1 initial build</a></li>
  </ul>

  {% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}