{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main.html" %}
{% endif %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="contact-details/what-is-your-other-phone-number" method="post">


        {{ govukInput({
          label: {
            text: "What is your other phone number?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          id: "other-number",
          name: "other-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}



        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="task-list">Go to task list</a></p>

      </form>
    </div>
  </div>

{% endblock %}
