{% if (data['regScena'] == "agent" ) %}
    {% extends "../../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../../layouts/main-v3.html" %}
{% endif %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


      

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="contact-details/what-other-help-when-we-contact" method="post">


{{ govukTextarea({
  name: "other-help-details",
  id: "more-detail",
  rows: "8",
  label: {
    text: "What other help do you need when we contact you?",
    classes: "govuk-label--l",
    isPageHeading: true
  }
}) }}

{{ govukButton({
  text: "Save and continue"
  }) }}

  <p><a href="pip-register-v4/task-list-cd-done">Go to task list</a></p>
    
    </form> 

  </div>
</div> 

{% endblock %}

