{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main-v3.html" %}
{% endif %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who will you ask for help?

      </h1>

      <form class="form" action="who" method="post">
        {% from "govuk/components/details/macro.njk" import govukDetails %}



        {{ govukInput({
          label: {
            text: "Name of helper"
          },
          id: "first-name",
          name: "first-name",
          autocomplete: "name",
          spellcheck: false
        }) }}


            



      {{ govukButton({
        text: "Save and continue"
      }) }}

                <p><a href="/pip-register-v3/task-list-as-done">Go to task list</a></p>
      </form>
    </div>
  </div>

{% endblock %}
