{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">

        <h1 class="govuk-heading-l">
          Outbound contact
        </h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "who",
          fieldset: {
            legend: {
              text: "Who did we contact?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "claimant",
              text: "Claimant"
            },
            {
              value: "recognised-rep",
              text: "Recognised representative"
            },
            {
              value: "unofficial-rep",
              text: "Unofficial representative"
            },
            {
              value: "unknown",
              text: "Not known"
            }
          ]
        }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "contact-format",
          fieldset: {
            legend: {
              text: "How did we contact them?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "telephony",
              text: "Telephony"
            },
            {
              value: "correspondence",
              text: "Correspondence"
            },
            {
              value: "digital",
              text: "Digital"
            },
            {
              value: "text-phone",
              text: "Text phone"
            },
            {
              value: "sms",
              text: "SMS"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "who",
          fieldset: {
            legend: {
              text: "Why did we contact them?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "post",
              text: "Post"
            },
            {
              value: "change-of-circs",
              text: " Change of circumstance"
            },
            {
              value: "enquiry",
              text: "Enquiry"
            },
            {
              value: "evidence",
              text: "Evidence"
            },
            {
              value: "update",
              text: "Update"
            },
            {
              value: "new-claim",
              text: "New claim"
            },
            {
              value: "feedback",
              text: "Feedback"
            }
          ]
        }) }}

      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}

