{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main.html" %}
{% endif %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Can you confirm the address?
      </h1>

<a href="contact-details/correspondence-postcode"><p> Search again</a></p>

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">
        

      </div>

      <div class="govuk-inset-text">
        1 Dudhope Street<br>Not Worcester<br> WR1 1NL
      </div>
      
      
      <a href="../healthcare-professional/hp-summary-two-remove.html" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
        Use this address
    </a>


        <p class="govuk-body govuk-!-margin-bottom-6"><a href="healthcare-professional/enter-address-manually" class="govuk-link">Enter address manually</a></p>

        <p><a href="task-list-nat-done">Go to task list</a></p> 

      </form>

    </div>
  </div>

{% endblock %}
