{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main-v3.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "../../layouts/main-v3.html" %}
{% endif %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
Are you able to manage your post and return information by post?</h1>
<!-- 
      <p class="govuk-body">This includes</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>opening and sorting through post</li>
        <li>managing deadlines</li>
        <li>going to the post box</li>
      </ul> -->

      <form class="form" action="task-helper" method="post">

        {{ govukRadios({
            name: "taskHelper",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

                <p><a href="/pip-register-v4/task-list-as-done">Go to task list</a></p>

      </form>

    </div>
  </div>

{% endblock %}
