{% extends "layouts/main-gov.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="name" method="post">
      <h1 class="govuk-heading-xl">Check your phone</h1>
      <p class="govuk-body">We have sent you a text message with your security code.</p>
      <p class="govuk-body">It might take up to a minute to arrive.</p>
      <p class="govuk-body">The code will expire in 15 minutes</p>
      {{ govukInput({
        label: {
          text: "Enter your security code"
        },
        classes: "govuk-input--width-10",
        id: "width-10",
        name: "width10"
      }) }}
    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
    <h2 class="govuk-heading-m">Problems signing in</h2>
    <p class="govuk-body"><a href="">I did not get a text message</a><br><a href="">I cannot access the mobile phone number I use to sign in</a></p>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}