{% extends "layouts/main-gov.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="create-password" method="post">
      <h1 class="govuk-heading-xl">Check your email</h1>
      <div class="govuk-inset-text">
        We have sent an email to: <strong>email@address.com</strong>
      </div>
      <p class="govuk-body">It might take up to a minute to arrive. </p>
      <p class="govuk-body">The email will come from DWP login and includes a security code. If you do not get an email, check your spam folder.</p>
      <p class="govuk-body">The code will expire in 15 minutes</p>
      {{ govukInput({
        label: {
          text: "Enter your security code"
        },
        classes: "govuk-input--width-10",
        id: "width-10",
        name: "width10"
      }) }}
    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

    <p class="govuk-body"><a href="">I did not get an email</a></p>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}