{% extends "layouts/main-gov.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="#" method="post">
      <h1 class="govuk-heading-xl">Create a password</h1>
      <p class="govuk-body">Your password must be 8 characters or more.</p>
      <p class="govuk-body">It must include at least:</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">one upper case letter</a>
        </li>
        <li>
          <a class="govuk-link" href="#">one lower case letter</a>
        </li>
        <li>
          <a class="govuk-link" href="#">One number</a>
        </li>
        <li>
          <a class="govuk-link" href="#">One special character</a>
        </li>
      </ul>
      {% from "govuk/components/details/macro.njk" import govukDetails %}

    {{ govukDetails({
      summaryText: "Which special characters can I use?",
      text: ""
    }) }}
      {% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

      {{ govukPasswordInput({
        label: {
          text: "Enter password"
        },
        id: "password-input",
        name: "password"
      }) }}

      {{ govukPasswordInput({
        label: {
          text: "Confirm password"
        },
        id: "password-input",
        name: "password"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
    <h2 class="govuk-heading-m">Problems signing in</h2>
    <p class="govuk-body"><a href="">I forgot my password</a><br><a href="">I cannot access the email I use to sign in</a></p>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}