{% extends "layouts/main-gov.html" %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  
  <!-- Start column -->
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="email-continue" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}

      <h1 class="govuk-heading-xl">Register</h1>
      <p class="govuk-body">Create an account so you can sign in securely each time you visit.</p>
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      <div class="govuk-inset-text">
        <a href="">Sign in if you have already created an account</a>
      </div>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
      </ul>

      <p class="govuk-body">We will send security codes to your email and phone to check they belong to you.</p>
      <p class="govuk-body">You'll be asked to enter your name, date of birth and postcode.  This information will help us match your details to our records.</p>

{{ govukButton({
  text: "Continue"
}) }}

    </form>
    <p class="govuk-body"><a href="">I need help</a></p>
  </div>
  <!-- End column -->
</div>
<!-- End row -->
{% endblock %}