{% if (data['regScena'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <form action="#" method="post" novalidate>

            <h1 class="govuk-heading-xl">Your DLA payments will continue while we make a decision on your PIP application</h1>
            {{ govukInsetText({
              classes: 'colour-blue',
              text: "Action: Register the application in PIPCS, and follow the normal procedure for reassessments."
            }) }}
          </form>
   </div>
</div>

<h3 class="govuk-heading-s">
  Start new application
</h3>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Start now",
href: "service-start-page.html",
isStartButton: true
}) }}


{% endblock %}
