{% if (data['regScena'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      If you want to talk about an existing claim or application
    </h1>

    <p>
      You need to call the enquiry line.
    </p>

    

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
      text: "Enquiry line number: 0800 121 4433"
    }) }}




    <!-- {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Start new application",
      href: "/pip-register/signposting-eligibility/service-start-page.html",
      isStartButton: true
    }) }} -->

    <!--

    {{ govukDetails({
      summaryText: "If caller wants a paper application form",
      html: "
        You can start a claim by post instead, but it takes longer to get a decision.<br><br>
        Send a letter to this freepost address:<br><br>
        Freepost DWP PIP 1<br><br>
        Do not write anything except the freepost address on the envelope. You do not need a postcode or a stamp.<br><br>
        You’ll be sent a form asking for your personal information, such as your address and your age. Fill in and return the form.<br><br>
        You’ll then be sent a form which asks about your disability or condition.
      "
    }) }}

    {{ govukDetails({
      summaryText: " If caller wants to talk about something else",
      html: "You need to call the Enquiry line number: 0800 121 4433
      "
    }) }}

    -->

  </div>
</div>

{% endblock %}
