{% if (data['regScena'] == "agent" ) %}
    {% extends "../../layouts/main.html" %}
{% elseif (data['regScena'] == "citizen") %}
{% extends "../../layouts/main-gov.html" %}
{% else %}
    {% extends "/layouts/main.html" %}
{% endif %}

{% set isDeclarationPre = true %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-l">
        You need to call a different phone line if you live in Scotland
      </h1>

      <p class="govuk-body">
        Personal Independence Payment is for people living in England, Wales or Northern Ireland.
       </p>

      <p class="govuk-body">
        If you live in Scotland, you may be eligible for Adult Disability Payment (ADP). 
       </p>

       <p class="govuk-body">To apply for ADP, you can call Social Security Scotland.</p>

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
          text: "Social Security Scotland: 0800 182 2222"
        }) }}

        <p class="govuk-body">
          Or you can apply online by visiting <a href="https://www.mygov.scot/adult-disability-payment" class="govuk-link" rel="noreferrer noopener" target="_blank">www.mygov.scot/adult-disability-payment</a>.
        </p>

      <p class="govuk-body">
        If you want to apply for PIP in England or Wales, we can <a href="/pip-register/signposting-eligibility/srel" class="govuk-link">continue with your application</a>.
    </p>

  </form>


  {% from "govuk/components/button/macro.njk" import govukButton %}


  </div>
</div>

{% endblock %}
