{% if (data['regScena'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What is their name and phone number?
      </h1>

      <form class="form" action="#" method="post">
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Why we are asking this",
          text: "If we need more information about your application and we have not been able to contact you, we can call the person who's helping you and ask them to tell you."
        }) }}

        {{ govukInput({
          label: {
            text: "Name"
          },
          id: "first-name",
          name: "first-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "UK phone number"
          },
          id: "tel",
          name: "tel",
          autocomplete: "name",
          spellcheck: false
        }) }}

            

      </form>

      {{ govukButton({
        text: "Save and continue",
        href: "/pip-register/additional-support/support-no-help"
      }) }}

      <p><a href="/pip-register/task-list-cd-done">Go to task list</a></p>

    </div>
  </div>

{% endblock %}
