{% extends "layouts/main.html" %}

{% block pageTitle %} Add an event {% endblock %}

{% block main %}

{% include "./record-id-bar.html" %}

  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="#">Personal details</a>
        </li>
        <li>
          <a href="#">Supporting documents</a>
        </li>
        <li>
          <a href="#">Conditions</a>
        </li>
        <li>
          <a href="#">Activities</a>
        </li>

        <li>
          <a href="../event-history" class="active" aria-current="section">Timeline</a>
        </li>

        {# <li>
          <a href="Other-actions">Other actions</a>
        </li> #}

      </ul>
    </nav>
</div>


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/event-history/v3/two-events-timeline"
}) }}
{% endblock %}


 <br><br><br><br>

 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukRadios({
  name: "eventType",
  fieldset: {
    legend: {
      text: "Add an event",
      isPageHeading: true,
      classes: "govuk-fieldset__legend govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "disallowed",
      text: "Disallow claim"
    },
    {
      value: "withdrawn",
      text: "Withdraw claim"
    },
    {
      value: "need-to-rebuild",
      text: "Need to rebuild in PIPCS"
    },
    {
      value: "rebuilt-pipcs",
      text: "Completed rebuild in PIPCS"
    },
   {
      value: "reopen",
      text: "Re-open and extend deadline"
    },
    {
      value: "extend-timer",
      text: "Extend deadline"
    },
    {
      value: "IDV-passed",
      text: "Passed IDV"
    },
    {
      value: "IDV-failed",
      text: "Failed IDV"
    },
    {
      value: "other",
      text: "Other"
    }
  ]
}) }}

{% set otherHtml %}
{{ govukInput({
  id: "other-channel",
  name: "otherChannel",
  type: "other",
  autocomplete: "other",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "other source"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "communicationType",
  fieldset: {
    legend: {
      text: "What is the source of this event?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "inbound-call",
      text: "Inbound contact"
    },
    {
      value: "outbound-call",
      text: "Outbound contact"
    },
    {
      value: "outbound-call",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}


{{ govukButton({
  text: "Continue",
  href: "add-a-note" 
}) }}

</div>
</div>



<br><br>

</div>


{% endblock %}
