{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>







<!------------ ––– ------------>

<form class="form" action="/nino-answer" method="post">
  <h1 class="govuk-heading-xl">Does their date of birth match what we hold in Searchlight?</h1>

  <!--v2-->
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "nino",
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

  <!-- 
  
  ,
      {
        value: "I need to come back to this later",
        text: "I need to come back to this later"

      }

  -->

  <!-- V1 -->
  <!--
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "Address",
    items: [
      {
        value: "Yes",
        text: "Yes",
        hint: {
          text: "Select if the address already matches what we hold in Searchlight."
        }
      },
      {
        value: "Yes - I have made changes to resolve this issue",
        text: "Yes, I have made changes to resolve this issue",
        hint: {
          text: "Select if you have updated the correct address in Searchlight or PIP Service."
        }
      },
      {
        value: "No - I want to try to resolve this issue",
        text: "No, I want to try to resolve this issue",
        hint: {
          text: "Select if you want to confirm the correct address and update it in Searchlight or PIP Service."}
      },
      {
        value: "No - I cannot resolve this issue",
        text: "No, I cannot resolve this issue",
        hint: {
          text: "Select if you cannot confirm the correct address."
        }
      },
      {
        value: "I need to come back to this later",
        text: "I need to come back to this later",
        hint: {
          text: "Select if you cannot answer this question now."
        }
      }
    ]
  }) }}
  -->

  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
