{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">


<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>



<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Prepare an application for an assessment provider</h1>

<h1 class="govuk-heading-m govuk-!-margin-bottom-2">Review supplied information</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="/v13/case-review/personal-details" target="_blank" rel="noopener">Registration (PIP1) (opens in new tab)</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank" rel="noopener">Supporting documents (opens in new tab)</a></p>
<br>


</div>
</div>




<!------------ ––– ------------>



<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-1">Check application</h2>

    {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

    {{ govukTaskList({
      idPrefix: "application-checks",
      items: [
      {
        title: {
          text: "National Insurance Number"
        },
        href: "nino",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Name"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Address"
        },
        href: "address",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Date of birth"
        },
        href: "date-of-birth",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Date of death"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Nationality"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Residency and prescence"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Immigration status"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Special Rules End of Life (SREL)"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },  {
        title: {
          text: "Representative or appointee"
        },
        href: "#",
        status: {
          tag: {
            text: "TO DO",
            classes: "govuk-tag--grey"
          }
        }
      },
        {
          title: {
            text: "Withdrawn"
          },
          href: "address",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },
        {
          title: {
            text: "Age criteria"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Additional support"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Alternative format"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Fraud"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Keep customer interactions safe (KCIS)"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Working abroad"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Foreign benefits"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Disability Living Allowance (DLA)"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Child Disability Payment or Adult Disability Payment"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Armed Forces Independence Payment (AFIP)"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "War Pensioners' Mobility Supplement (WPMS)"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        },{
          title: {
            text: "Constant Attendance Allowance (CAA)"
          },
          href: "#",
          status: {
            tag: {
              text: "TO DO",
              classes: "govuk-tag--grey"
            }
          }
        }
      ]
    }) }}

  <!------------ ––– ------------>



<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="application-exit-bail" rel="noopener">I need to come back to this application later</a></p>



</div>
</div>

  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
