{% extends "layouts/main.html" %}

{% block pageTitle %} Process a PIP application - PIP Case review - GOV.UK {% endblock %}

{% block main %}

<div class="govuk-width-container ">
        


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
 <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

</div>
</div>







<!------------ ––– ------------>
<!--    
    },-->
<form class="form" action="/what-do-you-want-to-do-nino-answer" method="post">
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {{ govukRadios({
    name: "WhatDoYouWantToDoNino",
    fieldset: {
      legend: {
        html: "<h1 class='govuk-heading-l'>Have you confirmed the national insurance number and updated it in PIP Service?</h1>
        "
      }
    },
    items: [
      {
        value: "Try to resolve this task",
        text: "Yes"
      },
      {
        value: "Nothing",
        text: "No, I was not able to do this"
      },
      {
        value: "I need to come back to this later",
        text: "No, I need to come back to this later"

      },
      {
        divider: "or"
      },
      {
        value: "No change required, details already matched",
        text: "I made a mistake, the National Insurance Number already matched"

      }

    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>


  </main>
</div>





<!-- <div class="govuk-width-container">
  <ul class="govuk-footer__list">

    <li class="govuk-footer__list-item">
      <a class="govuk-footer__link" href="/eject">
        There is an issue with this applciation
      </a>
    </li>

</div> -->


<div>


{% endblock %}
