{% extends "layouts/main-nav.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-full-width">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
     These prototypes are managed by Team Pelican.
      <a class="govuk-notification-banner__link" href="#"></a>
    </p>
  </div>
</div>
      <h1 class="govuk-heading-l">
        Agent Assisted Registration (AAR) prototypes - G4S agent access </h1>

      

<p class='govuk-body'>Use this page to access the current live version of the AAR prototype. 
<br>
<br> 
Some prototype include pre-filled dummy data for testing purposes. 
<br>
<br>  


<br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-full-width">

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Available prototype versions",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    { text: "Version" },
    { text: "Included journeys" },
    { text: "Description" },
    { text: "Start" }
  ],
  rows: [
    [
      { text: "V4" },
       { text: "Core journey redesigned" },
      { text: "Mirror of live service" },
       {  html: '<a href="/pip-register-v4/signposting-eligibility/new-pip-application" class="govuk-link">Start prototype</a>'
       }
    ]
  ]
}) }}

<br>
<br>
<br>
<br>


  </div>
</div>

{% endblock %}
