{% extends "layouts/main-nav.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
      Agent
    </strong>
    <strong class="govuk-tag govuk-tag--blue govuk-phase-banner__content__tag">
      PIP: Decide
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Event History
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Find someone
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      View all claims
    </strong>
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Versions, concepts and scenarios</h1>
    <p class="govuk-body">Design work across all features including previous versions, iterations to come in the future.</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#versions">
            Versions
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#concepts">
            Concepts
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#scenarios">
            Scenarios
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="versions">
        <h2 class="govuk-heading-l">Versions</h2>

        <h3 class="govuk-heading-m">Case manager review</h3>
        <li class="govuk-list">
            <p class="govuk-body"><a href="/case-manager-review/record-details">Case manager review (retired key details bar) V.1</a></p>
          </li>
  
        <h3 class="govuk-heading-m">Event history and Add an event</h3>
        
        <ul class="govuk-list">
        <li class="govuk-link">
          <p class="govuk-body"><a href="/event-history/v4/index">Event history (timeline format) V.5</a></p>
        </li>
          <li class="govuk-list">
            <p class="govuk-body"><a href="/event-history">First build- Timeline (table format) V.2</a></p>
          </li>
          <li class="govuk-list">
            <p class="govuk-body"><a href="/comms-record/start-record">Communications record V.1</a></p>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Find a claimant</h3>

        <ul class="govuk-list">
          <li class="govuk-link">
            <p class="govuk-body"><a href="/find-someone/v1/search-claimant-v1">Find a claimant V.1</a></p>
          </li>
          </ul>

        <h3 class="govuk-heading-m">View all claims</h3>

        <p class="govuk-body"><strong class="govuk-tag govuk-tag--purple">Built</strong> <a href="/view-all-claims/no-filter-v1">V.1 - Sortable columns, no pagination (for thin slice)</a></p>
        
          <h3 class="govuk-body">Iteration 2: Claim creation/ start date</h3>
        
          <ul class="govuk-list">
            <li>
              <p class="govuk-body"><a href="/view-all-claims/status-start-date/status-start-v2">Content V.2 - claim creation date, current status, status start date</a></p>
            </li>      
          </ul>
    
          <ul class="govuk-list">
            <li>
              <p class="govuk-body"><a href="/view-all-claims/status-start-date/status-start-v1">Content V.1 - claim start date, claim status, status change date</a></p>
            </li>      
          </ul>

          <h3 class="govuk-body">Iteration 1: Requirements base only</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <p class="govuk-body"><a href="/view-all-claims/view-all-claims">View all claims V.1- claim status, claim date</a></p>
            </dt>
          </div>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="concepts">
        <h2 class="govuk-heading-l">Concepts</h2>
        <h3 class="govuk-heading-m">Case manager review</h3>
       <ul class="govuk-list">
        <li class="govuk-list">
          <p class="govuk-body"><a href="/case-manager-review/record-details-IDV-field-v2"> Quick reference component, IDV field, original data category V.2</a></p>
        </li>
        </ul>

        <h3 class="govuk-heading-m">Decision tab</h3>
          
        <p class="govuk-body">Qualifying period/ Prospective test</p>
        <ul class="govuk-list">
          <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Awarded</strong>
          <li class="govuk-list">
            <p class="govuk-body"><a href="/qppt/met-v2">QP/PT awarded both: standard rate</a></p>
          </li>
          <li class="govuk-list">
            <p class="govuk-body"><a href="/qppt/met-DL-v2">QP/PT awarded only DL: standard rate</a></p>
          </li>
          <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">Nil Award</strong>
          <li class="govuk-list">
            <p class="govuk-body"><a href="/qppt/not-met-kept-in-v2">Not awarded, retained V2: QP/PT some met</a></p>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Event history and Add an event</h3>

          <ul class="govuk-list">
            <li class="govuk-link">
              <p class="govuk-body"><a href="/event-history/v6-250-characters/index">Notes: 250 character count V.6</a></p>
            </li>
            <li class="govuk-link">
              <p class="govuk-body"><a href="/event-history/v3/two-events-timeline">Add event: Event type and source of event V.4</a></p>
            </li>
            <strong class="govuk-tag govuk-tag--yellow">Flag</strong>
            <div class="govuk-!-padding-bottom-4"></div>
              <li>
                <a class="govuk-link" href="/event-history/v5-quick-reference/add-a-note-2000">Notes using 2,000 characters</a>
              </li>
          </ul>

          <p class='govuk-body'><strong>In progress</strong></p>
          <ul class='govuk-list govuk-list--bullet'>
          <li><a href='/event-history/in-payment/index-pause-payment'>Stop payments in PIP Service</a> <strong class="govuk-tag govuk-tag--purple">
            Post-award
          </strong>
        </li>
          </ul>

      <h3 class="govuk-heading-m">View all claims</h3>

      <strong class="govuk-tag govuk-tag--green">Backlog</strong>
      <div class="govuk-!-padding-bottom-3"></div>

      <ul class="govuk-list">
       <li>
         <p class="govuk-body"><a href="/view-all-claims/sort-using-filter-v2">Iteration 1 - sort by filter component (fast follow iteration)</a></p>
       </li>
       <li>
       <p class="govuk-body"><a href="/view-all-claims/no-filter-pagination-v1">Iteration 2 - Sortable columns, pagination (fast follow iteration)</a></p>
      </li>
      <li>
          <p class="govuk-body"><a href="/view-all-claims/v3-filter-events">Iteration 3 - Filter by events (on pause for tech reqs)</a></p>
      </li>
        </ul>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="scenarios">

        <h2 class="govuk-heading-l">Scenarios</h2>

        <h2 class="govuk-heading-m">Case manager review</h2>
        <ul class="govuk-list">
          <li>
            <p class="govuk-body"><strong class="govuk-tag govuk-tag--purple">Built</strong>
              <a class="govuk-link" href="/case-manager-review/no-hig-info/personal-details">no HIG information available</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Event history and Add an event</h3>
        <ul class="govuk-list">
          <li>
            <p class="govuk-body"><strong class="govuk-tag govuk-tag--purple">Built</strong>
              <a class="govuk-link" href="/event-history/scenarios/reminder-text">Sent reminder to return health information gather</a></a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Find someone</h3>
  
        <ul class="govuk-list">
          <li>
            <p class="govuk-body"> <strong class="govuk-tag govuk-tag--purple">Built</strong>
              <a class="govuk-link" href="/find-someone/no-nino-found">No NINO found: V.1</a> 
          </li>
          <li>
            <p class="govuk-body"> <strong class="govuk-tag">Build ready</strong>
              <a class="govuk-link" href="/find-someone/multiple-results">Multiple applications: 2 claimants share NINO V.1</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">View all cases</h3>
        <ul class="govuk-list">
          <li>
            <p class="govuk-body">
            <strong class="govuk-tag govuk-tag--purple">Built</strong>
            <a class="govuk-link" href="/view-all-claims/no-claims-available-v1">No applications or claims in PIP service V.1</a>
          </li>

        </ul>

      </div>
      
    </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}
