{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
      Agent
    </strong>
    <strong class="govuk-tag govuk-tag--blue govuk-phase-banner__content__tag">
      PIP: Decide
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Event History
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Find someone
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      View all claims
    </strong>
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Versions
    </h2>

    <h3 class="govuk-heading-s">Timeline and add an event</h3>

      <li class="govuk-list">
        <p class="govuk-body"><a href="/event-history">First build- Timeline (table format) V.2</a></p>
      </li>

      <li class="govuk-list">
        <p class="govuk-body"><a href="/comms-record/start-record">Communications record V.1</a></p>
      </li>

      <h2 class="govuk-heading-m">
        Concepts
       </h2>

       <h3 class="govuk-heading-s">States</h3>

       <p class="govuk-body">Golden eagle 8/7/24 - Thin slice will not cater for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Reopen and extend deadline</li>
        </ul>

        <h3 class="govuk-heading-s">Timeline and add an event</h3>
  
      <ul class="govuk-list">
        <li class="govuk-link">
          <p class="govuk-body"><a href="/event-history/v6-250-characters/index">Notes: 250 character count V.6</a></p>
        </li>
        <li class="govuk-link">
          <p class="govuk-body"><a href="/event-history/v3/two-events-timeline">Add event: Event type and source of event V.4</a></p>
        </li>
        <li>
          <a class="govuk-link" href="/event-history/v2/index">Timeline (timeline format) V.3</a>
        </li>
      </ul>


      <h2 class="govuk-heading-m">
      Scenarios
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/event-history/scenarios/withdraw-claim/withdraw-claim">Timeline: Withdraw claim</a>
        </li>
        <li>
          <a class="govuk-link" href="/event-history/scenarios/oidv-timeline/timeline">OIDV auto event published to timeline</a>
        </li>
      </ul>

    </div>
  </div>
</div>

{% endblock %}
