{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Communications record and Event history </h2>
  </div>

    <div class="govuk-grid-column-full">

    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [
      {
        key: {
          html: '<p class="govuk-body"><a href="/event-history/v2/index">Timeline V.2</a></p>'
        },
        value: {
          html: '<strong class="govuk-tag">Active</strong>'
        }
      },
        {
          key: {
            html: '<p class="govuk-body"><a href="/event-history">Timeline V.1</a></p>'
          }
        },
        {
          key: {
            html: '<p class="govuk-body"><a href="/comms-record/start-record">Communications record V.1</a></p>'
          }
        }
        ]
      }) }}


    <h2 class="govuk-heading-m">Find Someone</h2>

    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [
        {
          key: {
            html: '<p class="govuk-body"><a href="/find-someone/search-claimant">Happy path: one application V.1</a></p>'
          },
          value: {
            html: '<strong class="govuk-tag">Active</strong>'
          }
        },
        {
          key: {
            html: '<p class="govuk-body"><a class="govuk-link" href="/find-someone/multiple-results">Multiple applications: 2 claimants share NINO V.1</a></p>'
          }
        }
        ]
      }) }}

    </ul>

    <h2 class="govuk-heading-m">Research and testing</h2>
    <h3 class="govuk-body">Event History</h3>
    <p class="govuk-body"><a href="/research/event-history/state-change-definitions">State change terms</a></p>
  </div>
</div>

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 
{% endblock %}
