{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
      Agent
    </strong>
    <strong class="govuk-tag govuk-tag--blue govuk-phase-banner__content__tag">
      PIP: Decide
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Event History
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Find someone
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      View all claims
    </strong>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Personal Independence Payment
    </h1>

    <h2 class="govuk-heading-m">Timeline (Event history) </h2>
  </div>

    <div class="govuk-grid-column-full">

<dl class="govuk-summary-list govuk-summary-list--no-border">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/event-history/v4/index">Timeline (timeline format) V.5</a></p>
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    
  </div>
  

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/concepts">Versions, concepts and scenarios</a></p>
    </dt>
  </div>
  
</dl>



    <h2 class="govuk-heading-m">Find Someone</h2>

    

  

  
<dl class="govuk-summary-list govuk-summary-list--no-border">

  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/find-someone/search-claimant">Happy path: one application V.1</a></p>
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    
  </div>
  

  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a class="govuk-link" href="/find-someone/multiple-results">Multiple applications: 2 claimants share NINO V.1</a></p>
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>
    
  </div>
  

</dl>


      <h2 class="govuk-heading-m">View all claims</h2>
  
<dl class="govuk-summary-list govuk-summary-list--no-border">

  <h3 class="govuk-body">Additional column: Days in current status</h3>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/view-all-claims/days-in-status/days-in-status-v1">Content V.1 - claim creation date, current status, days in current status</a></p>
    </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag">Active</strong>
    </dd>
    
  </div>

  <h3 class="govuk-body">Additional column: status start date</h3>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/view-all-claims/status-start-date/status-start-v2">Content V.2 - claim creation date, current status, status start date</a></p>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    
  </div>

  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/view-all-claims/status-start-date/status-start-v1">Content V.1 - claim start date, claim status, status change date</a></p>
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>
    
  </div>

  <h3 class="govuk-body">Requirements base only</h3>
  
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <p class="govuk-body"><a href="/view-all-claims/view-all-claims">View all claims V.1- claim status, claim date</a></p>
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    
  </div>

  <h2 class="govuk-heading-m">Edit a claim</h2>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--orange">In progress</strong>
    </dd>
    
  </div>
  

</dl>


    

    <h2 class="govuk-heading-m">Research and testing</h2>
    <h3 class="govuk-body">Event History</h3>
    <p class="govuk-body"><a href="/research/event-history/state-change-definitions">State change terms</a></p>

    <h3 class="govuk-body">Edit a claim- Sprint 4</h3>
    <ol class="govuk-list govuk-list--number">
      <li><p class="govuk-body"><a href="/pip-service-home">PIP Agent UI homepage - original</a></p></li>
      <li><p class="govuk-body"><a href="/edit-claim/pip-service-home">'Edit a claim' - link on homepage V.1</a></p></li>
      <li><p class="govuk-body"><a href="/case-manager-review/record-details-edit-link">CMR - Edit links</a></p></li>
      <li><p class="govuk-body"><a href="/case-manager-review/record-details-edit-button">CMR - Edit button</a></p></li>
    </ol>
  
  </div>
</div>

</div>


   </main>

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}

</div>
