{% extends "layouts/main-nav.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
      Agent
    </strong>
    <strong class="govuk-tag govuk-tag--blue govuk-phase-banner__content__tag">
      PIP: Decide
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Event History
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      Find someone
    </strong>
    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
      View all claims
    </strong>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          Personal Independence Payment
        </h1>
        </div>

        <div class="govuk-grid-column-full">

          <p class="govuk-body-l"><strong>Current status: Private Beta</strong> <br>Iterations, changes and updates listed between versions or testing.</p>
          <p>This prototype is maintained by <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133261558699/Team+Pelican">Team Pelican</a>.</p>

          <div class="govuk-!-padding-bottom-4"></div>

          {# CMR main prototype #}

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Case manager review</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">current prototype</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">description</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">design material</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row ">

                <td class="govuk-table__cell govuk-!-padding-bottom-9">
                  <p>V.3 CMR full prototype</p>
                  <a href="/case-manager-review/record-details-iteration-4" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a>
                  
                  <p class="govuk-body"><a href="/case-manager-review/versions-scenarios#scenarios">scenarios</a>, <a href="/case-manager-review/versions-scenarios#versions">versions</a></p>

                </td>

                <td class="govuk-table__cell">
                  <p class='govuk-body'>Tabs in CMR:</p>
                 
                    <a href='/case-manager-review/record-details-iteration-4'>Personal details</a>, 
                    <a href='/case-manager-review/supporting-docs'>Supporting documents</a>, 
                    <a href='/case-manager-review/cons-or-disabilities'>Conditions or disabilities</a>, 
                    <a href='/case-manager-review/activities'>Activities</a>, 
                    <a href='/event-history/v5-quick-reference/index'>Event History</a> and
                    <a href='/decision-tab-iteration-4-evidence'>Decision</a>
                  </ul>
                </td>

                <td class="govuk-table__cell">
                  <p class='govuk-link'><a href="/case-manager-review/index">Decision documentation</a></p>
                  <p class='govuk-body'>Feature work</p>
                      <li><a href='/decision-tab/index'>Decision tab</a></li>
                      <li><a href='/decision-tab/index'>QP/PT</a></li>
                      <li><a href='/case-manager-review/index'>Edit a claim</a></li>
                    </ul>
                </td>

              </tr>
            </tbody>

            {# Event history #}

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                  <p>V.4 Event History</p>

                  <a href="/event-history/v5-quick-reference/index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    view
                  </a>
                  <p class="govuk-body"><a href="/event-history/versions-scenarios#scenarios">scenarios</a>, <a href="/event-history/versions-scenarios#versions">versions</a>
                </td>

                <td class="govuk-table__cell">
                  <p class='govuk-body'>Event history documents the activity and state of an application or claim for and agent user to view.</p>
                  <ul class='govuk-list govuk-list--bullet'>
                    <li><a href='/event-history/v5-quick-reference/add-an-event-refined'>Add an event</a> <strong class="govuk-tag govuk-tag--light-blue">
                      Pre-award
                    </strong>
                  </li>
                </ul>
                </td>

                <td class="govuk-table__cell">
                  <p class='govuk-body'>Feature work</p>
                <ul class='govuk-list govuk-list--bullet'>
                  <li><a href='/case-eject/index'>Case eject</a></li>
                </ul>

                <p class="govuk-body"><a href="/event-history/versions-scenarios#in-progress">in progess work</a></p>

              </td>

              </tr>
            </tbody>

            {# Decision tab #}

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                  <p>V.3 Decision</p>

                  <a href="/decision-tab-iteration-4-evidence" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button govuk-button--secondary">
                    view
                  </a>
                  <p class="govuk-body"><a href="/decision-tab/versions">versions</a></p>

                </td>

                <td class="govuk-table__cell">
                  Decision information from the decide stage of the application is stored here. It caters for case eject post decision to rebuild in PIPCS.<br>
                  <div class="govuk-!-padding-bottom-2"></div>
                  <p class='govuk-body'>Information included:</p>
                  <ul class='govuk-list govuk-list--bullet'>
                    <li>Outcome, award dates, supporting documents and scores</li>
                    <li>Qualifying period and prospective test outcome</li>
                  </ul>
                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body"><a href="/concepts#concepts">in progess work</a></p>
                </td>

              </tr>
            </tbody>

          </table>

          <div class="govuk-!-padding-bottom-4"></div>

          {# Find a claimant #}

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Find an applicant or claimant</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">current prototype</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">description</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">design material</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                  <p>Find an applicant or claimant V.2</p>
                  <a href="/find-someone/v2/search-claimant-v2" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a>
                  <p class="govuk-body"><a href="/concepts#scenarios">scenarios</a>, <a href="/concepts#versions">versions</a></p>
                </td>

                <td class="govuk-table__cell">
                    <p class='govuk-body'>This is how users will find the cases and information related to someone when they need it in e.g. on a call with a claimant about their claim.</p>
                </td>

                <td class="govuk-table__cell">
                </td>

              </tr>
            </tbody>

          </table>

          <div class="govuk-!-padding-bottom-4"></div>

          {# View all cases #}

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">View all cases</caption>
            
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">current prototype</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">description</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">design material</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                  <p>V.5</p>
                  <a href="/view-all-claims/removed-date-of-claim-v2" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                 View
                  </a>
                  <p class="govuk-body"><a href="/view-all-claims/index#versions">versions</a>, <a href="/view-all-claims/index#scenarios">scenarios</a></p>
                </td>

                <td class="govuk-table__cell">
                  <p class='govuk-body'>View all cases (pre-award) retained in new PIP service.
                  </p>
                  <strong class="govuk-tag govuk-tag--turquoise">
                   V.5 Update
                  </strong><br>
                  <ol class="govuk-list govuk-list--number">
                    <li>Correction: 'Start of application' removed. </li>
                    <li>The column <strong>date of claim </strong> has been removed due to agent confusion
                      caused by misaligned dates between this date and the one shown on CMR.</li>
                  </ol>
                      <p class="govuk-body">claim information categories:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>national insurance number</li>
                        <li><strong class="govuk-tag govuk-tag--red">
                          removed
                        </strong> date of claim</li>
                        <li>current status</li>
                        <li>days in status</li>
                      </ul>
                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body"><a href="/view-all-claims/index#in-progress">concepts and in progress work</a></p>

                </td>

              </tr>
            </tbody>

          </table>

          <div class="govuk-!-padding-bottom-4"></div>

      
    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <h2 class="govuk-heading-m">Agent UI homepage</h2>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <p class="govuk-body"><a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/home/entry">E2E prototype Agent UI</a></p>
          <p class="govuk-body">password: pip-e2e</p>
        </dt>
      </div>
      

    </dl>
      </div>
    </div>
  </main>

</div>

{% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}
