{% extends "layouts/main-nav.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Agent Assisted Registration (AAR) prototype index</h1>

<p class='govuk-body'>This service / prototype is managed by<a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133261558699/Team+Pelican" class="govuk-link" rel="noreferrer noopener" target="_blank"> Team Pelican (opens in new tab)</a>.</p>


<p class='govuk-body'>This index provides access to all the AAR prototype versions. 
<br>
<br>  

It also shows which versions each of the three user groups can access.  
<br>
<br>

To avoid confusion, each user group has its own index page with access only to the prototype versions they need to see.</p>


<br>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-full-width">

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Development ready",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    { text: "Active Prototypes" },
    { text: "Status" },
    { text: "User Group" },
    { text: "Link" }
  ],
  rows: [
    [
      { text: "In build" },
      { text: "Mirror of live service" },
      {
        html: '<ul class="govuk-list govuk-list--bullet">
                <li>Team Pelican</li>
                <li>Implementation</li>
                <li>GS4 L&D training</li>
                <li>GS4 agents</li>
              </ul>'
      },
      {
        html: '<a href="/implementation" class="govuk-link">Index page</a>'
      }
    ],
    [
      { text: "Next release" },
      { text: "Completed/signed off but not yet live" },
      {
        html: '<ul class="govuk-list govuk-list--bullet">
                <li>Team Pelican</li>
                <li>Implementation</li>
                <li>GS4 L&D training</li>
                <li>GS4 agents</li>
              </ul>'
      },
      {
        html: '<a href="/training" class="govuk-link">Index page</a>'
      }
    ],
    [
      { text: "Being developed" },
      { text: "Currently being worked on/ revised /developed" },
      {
        html: '<ul class="govuk-list govuk-list--bullet">
                <li>Team Pelican</li>
                <li>Implementation</li> 
              </ul>'
      },
      {
        html: '<a href="/agent" class="govuk-link">Index page</a>'
      }
    ]
  ]
}) }}

<br>
<br>
<br>
<br>

{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    { text: "Archived versions" },
    { text: "" },
    { text: "" },
    { text: "Link" }
  ],
  rows: [
    [
      { text: "Previous versions no longer used and superseded designs" },
      { text: "" },
      {
      },
      {
        html: '<a href="..." class="govuk-link">To be added once completed</a>'
      }
]
  ]
}) }}


  </div>
</div>
</div>
</div>
{% endblock %}
