{% extends "layouts/main-nav.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Agent Assisted Registration (AAR) prototype index, Training</h1>

<p class='govuk-body'>This page gives you access to the current in-build, next release and being developed versions of the AAR prototype.  
<br>
<br> 
The prototypes work in a similar way to the live service but some screens may have prefilled ‘dummy’ data. 
<br>
<br>  


<br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-full-width">

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Development ready",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    { text: "Active Prototypes" },
    { text: "Status" },
    { text: "" },
    { text: "Link" }
  ],
  rows: [
    [
      { text: "In build" },
      { text: "Mirror of live service" },
      {
        html: '<ul class="govuk-list govuk-list--bullet">
              </ul>'
      },
      {
        html: '<a href="/pip-register-v3/signposting-eligibility/service-start-page" class="govuk-link">Go to start page</a>'
      }
    ],
    [
      { text: "Next release" },
      { text: "Completed/signed off but not yet live" },
      {
        html: '<ul class="govuk-list govuk-list--bullet">
                </ul>'
      },
      {
        html: '<a href="/pip-register-v4/signposting-eligibility/service-start-page" class="govuk-link">Go to start page</a>'
      }
    ]
  ]
}) }}

<br>
<br>
<br>
<br>


  </div>
</div>

{% endblock %}
