{% extends "layouts/main.html" %}

{% block pageTitle %} Timeline {% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m govuk-!-Margin-bottom-5">Filters</h2>
    <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
      Select one or more filters to apply to the list.
    </div>
    <div class="table-filter">
      <form id="filters" action="index" method="post"> 
        <!--Filters-->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Current status
          </legend>

          
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input govuk-body" id="Registration" name="Registration" type="checkbox" value="Registration" {% if checkRegistration %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label " for="Registration">
                  Registration (2)   
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="HealthAndDis" name="HealthAndDis" type="checkbox" value="HealthAndDis" {% if checkHealthAndDis %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="HealthAndDisP">
                  Health and disability (1)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="Submitted" name="Submitted" type="checkbox" value="Submitted" {% if checkSubmitted %} checked {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="Submitted">
                    Submitted
                  </label>   
              </div>   
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Disallowed" name="Disallowed" type="checkbox" value="Disallowed" {% if checkDisallowed %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="Disallowed">
                  Disallowed: failure to comply
                </label>   
            </div> 
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Withdrawn" name="Withdrawn" type="checkbox" value="Withdrawn" {% if checkWithdrawn %} checked {% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="Withdrawn">
                Claim withdrawn 
              </label>   
          </div> 
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="referred-ap" name="Referred-ap" type="checkbox" value="referred-ap" {% if checkReferred-ap %} checked {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="Referred-ap">
              Referred to assessment provider
            </label>   
        </div> 
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="Returned-ap" name="Returned-ap" type="checkbox" value="Returned-ap" {% if checkReturned-ap %} checked {% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="Returned-ap">
            Returned from assessment provider
          </label>   
      </div> 
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="Ready-decision" name="Ready-decision" type="checkbox" value="Ready-decision" {% if checkReady-decision %} checked {% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="Ready-decision">
          Ready for decision
        </label>   
    </div>   
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="Awarded" name="Awarded" type="checkbox" value="awarded" {% if checkAwarded %} checked {% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="Awarded">
        Decision made: awarded
      </label>   
      </div> 
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="NotAwarded" name="not-awarded" type="checkbox" value="not-awarded" {% if checkNotAwarded %} checked {% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="NotAwarded">
          Decision made: not awarded
        </label>   
    </div> 
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="SentDirectly" name="SentDirectly" type="checkbox" value="sent-directly" {% if checkSentDirectly %} checked {% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="SentDirectly">
        Sent directly to PIPCS
      </label>   
    </div> 
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="Rebuilt" name="Rebuilt" type="checkbox" value="rebuilt" {% if checkRebuilt %} checked {% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="Rebuilt">
        Manually rebuilt in PIPCS
      </label>   
    </div> 
    </div>

        </fieldset>
        </div>

        <button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>
      </form>

  </div>
    </div>
    

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">View cases</h1>
        {%- from "govuk/components/table/macro.njk" import govukTable -%}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "National Insurance number"
    },
    {
      text: "Current status"
    },
    {
      text: "Creation date",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: '<a href="/event-history/v2/index" class="govuk-link">QQ 56 82 91 F'
      },
      {
        text: "Health and Disability"
      },
      {
        text: "30 June 2024",
        format: "numeric",
        attributes: {
          "data-sort-value": "30 June 2024"
        }
      }
    ],
    [
      {
        html: '<a href="/event-history/v2/index" class="govuk-link">QQ 23 64 77 A'
      },
      {
        text: "Registration"
      },
      {
        text: "30 June 2024",
        format: "numeric",
        attributes: {
          "data-sort-value": "30 June 2024"
        }
      }
    ],
    [
      {
        html: '<a href="/event-history/v2/index" class="govuk-link">QQ 12 34 56 C'
      },
      {
        text: "Registration"
      },
      {
        text: "1 July 2024",
        format: "numeric",
        attributes: {
          "data-sort-value": "1 July 2024"
        }
      }
    ]
  ]
}) }}
        </div>

        {% endblock %}