{% extends "layouts/main.html" %}

{% block pageTitle %} view all claims {% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">View all cases</h1>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Number of cases: <b>0</b></p>
        <p class="govuk-body govuk-!-font-size-19">There are no applications or claims in PIP Service.</p>

      </div>

  </div>

        {% endblock %}