{% extends "layouts/main.html" %}

{% block pageTitle %} 
Add a note - PIP Case review - GOV.UK {% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      
    <div class="column-full">

</div>

 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"><!--add-another"-->
    <form class="form" action="/edit-claim/version-4-pip1-edit/record-details-link-updated-nino" method="post">
     <!--<span class="govuk-caption-l">Address does not match Searchlight record</span>-->
      <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="with-hint">
            Add a note
          </label>
        </h1>
        
        <div id="with-hint-hint" class="govuk-hint">
          Enter more information about the actions you have taken.
        </div>
        <p>Your actions will be added to the applicant's event history.</p>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="movedNotes" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
          You have 2000 characters remaining
        </div>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

  </div>
  </div>
</form>

<br><br>
</main>
</div>


{% endblock %}
