{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "changedName",
            fieldset: {
              legend: {
                text: "Change wants text updates about claim",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: "true"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
      

        {{ govukButton({
          text: "Save and continue",
          href: "record-details-link-updated-text-messages"
        }) }}

      </form>

    </div>
  </div>
  {% endblock %}
