{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}
    
    {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
    
    {% from "govuk/components/header/macro.njk" import govukHeader %}
    
    {{ govukHeader({
      homepageUrl: "#"
    }) }}

    <p>This is main GOV</p>
    
    {% from "internal-service-footer/macro.njk" import dwpFooter %}
    
    {% block footer %}
    {% from "internal-service-footer/macro.njk" import dwpFooter %}
    
    {{ dwpFooter({
      meta: {
        visuallyHiddenTitle: "Meta links",
        items: [
        {
          href: "#",
          text: "Accessibility statement"
      },
      {
        href: "",
        text: "Privacy statement"
    }
        ]
      }
    }) }}
    {% endblock %}