{% extends "layouts/main.html" %}

{% block pageTitle %} Add an event {% endblock %}

{% block main %}

{% include "./record-id-bar.html" %}


  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="#">Personal details</a>
        </li>
        <li>
          <a href="#">Supporting documents</a>
        </li>
        <li>
          <a href="#">Conditions</a>
        </li>
        <li>
          <a href="#">Activities</a>
        </li>

        <li>
          <a href="../event-history" class="active" aria-current="section">Event history</a>
        </li>

        {# <li>
          <a href="Other-actions">Other actions</a>
        </li> #}

      </ul>
    </nav>
</div>


 <br>

 {{ govukBackLink({
  text: "Back",
  href: "/event-history"
}) }}

<br><br><br>

 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
  <h1 class="govuk-heading-l">Add an event</h1>

    <form action="add-an-event" method="post">


      <div class="govuk-form-group {{ "govuk-form-group--error" if data['eventError'] else "" }}">
        <fieldset class="govuk-fieldset" {{ 'aria-describedby="eventType-error"' if data['eventError'] else ""}} >
          <legend class="govuk-fieldset__legend">
            <h2>
              Select the event you want to record
            </h2>
          </legend>

          {% if data['eventError'] %}

            <p id="eventType-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select an event type

          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eventType" name="eventType" type="radio" value="inbound-call" {{ checked('eventType', 'inbound-call') }}>
              <label class="govuk-label govuk-radios__label" for="eventType">
                Inbound call
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eventType-2" name="eventType" type="radio" value="outbound-call" {{ checked('eventType', 'outbound-call') }}>
              <label class="govuk-label govuk-radios__label" for="eventType-2">
                Outbound call
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eventType-3" name="eventType" type="radio" value="issue-notification" {{ checked('eventType', 'issue-notification') }}>
              <label class="govuk-label govuk-radios__label" for="eventType-3">
                Issue notification
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eventType-4" name="eventType" type="radio" value="case-eject" {{ checked('eventType', 'case-eject') }}>
              <label class="govuk-label govuk-radios__label" for="eventType-4">
                Case eject
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="disallow-claim" {{ checked('eventType', 'disallow-claim') }}>
              <label class="govuk-label govuk-radios__label" for="eventType-5">
                Disallow claim
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="other-event" {{ checked('eventType', 'other-claim') }}>
              <label class="govuk-label govuk-radios__label" for="eventType-5">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

 
 {# {{ govukRadios({
  name: "eventType",
  fieldset: {
    legend: {
      text: "What event do you need to add?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "inbound-call",
      text: "Inbound call"
    },
    {
      value: "outbound-call",
      text: "Outbound call"
    },
    {
      value: "issue-notification",
      text: "Issue notification"
    },
    {
      value: "case-eject",
      text: "Case eject"
    },
    {
      value: "disallow-claim",
      text: "Disallow claim"
    },
    {
      value: "other",
      text: "Other"
    }
  ],
  errorMessage: {
    text: "You must select an event type"
  }
}) }} #}



</div>
</div>



<br><br>

</div>


{% endblock %}
