{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Event history documentation</h1>

  <h2 class="govuk-heading-m">Research and testing</h2>
  <p class="govuk-body"><a href="/research/event-history/state-change-definitions">State change terms</a></p>
  <p class="govuk-body"><a href="/research/event-history/sprint-5-list">TBC list sprint 5</a></p>


  {% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}