{% extends "layouts/main-nav.html" %}

{% set pageName="EventHistoryVersions" %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
     <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Event history and Add an event</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#scenarios">
                Scenarios
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#versions">
                Versions
              </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#in-progress">
                In progress work
              </a>
            </li>
          </ul>

          <div class="govuk-tabs__panel" id="scenarios">
            <h2 class="govuk-heading-l">Scenarios</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Scenario</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Built</strong> Sent reminder to return health information gather</td>
                  <td class="govuk-table__cell"><a href="/event-history/scenarios/reminder-text">V.1</a></p></td>
                  <td class="govuk-table__cell"> reminder to return health information gather</td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="versions">
            <h2 class="govuk-heading-l">Versions</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Version</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">Inactive</strong> V.5</td>
                  <td class="govuk-table__cell"><a href="/event-history/v4/index">Event history (timeline format) V.5</a></p></td>
                  <td class="govuk-table__cell">
                    Includes key details bar (retired).
                </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">Inactive</strong>V.2</td>
                  <td class="govuk-table__cell"><a href="/event-history">(table format) V.2</a></p></td>
                  <td class="govuk-table__cell">First build- Timeline (table format).</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">Inactive</strong>V.2</td>
                  <td class="govuk-table__cell"><a href="/comms-record/start-record">Communications record V.1</a></p></td>
                  <td class="govuk-table__cell">Inital scope to bring in communication record (similar to PIPCS legacy process)</td>
                </tr>

              </tbody>
            </table>

          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-progress">
            <h2 class="govuk-heading-l">Concepts and in progress work</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Concepts</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header">Descripton</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">concept</strong> Stop payments in PIP Service</td>
                  <td class="govuk-table__cell"><a href="/event-history/in-payment/index-pause-payment">V.1</a></p></td>
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">
                    Post-award
                  </strong> User Journey to stop payments in PIP Service.</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">concept</strong> Notes: 250 character count</td>
                  <td class="govuk-table__cell"><a href="/event-history/v6-250-characters/index">V.6</a></p></td>
                  <td class="govuk-table__cell"> Notes screen using a 250 character count. Currently set up with 2,000 characters.</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">concept</strong> source of the event</td>
                  <td class="govuk-table__cell"><a href="/event-history/v3/two-events-timeline">V.4</a></p></td>
                  <td class="govuk-table__cell"> Add event: Event type and source of event</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">flag</strong> full 2,000 character limit</td>
                  <td class="govuk-table__cell"><a href="/event-history/v5-quick-reference/add-a-note-2000">V.1</a></p></td>
                  <td class="govuk-table__cell"> If full 2,000 character limit is used in notes screen.<br> This was to understand the potential restriction if agents use full character limit, and how this would display on event history.</td>
                </tr>

              </tbody>
            </table>
        </div>

        </div>

      </div>
    </div>

   </main>
  </div>

  {% endblock %}

{% block footer %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    ]
  }
}) }} 

{% endblock %}
