{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form action="#" method="post">

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <h2 class="govuk-heading-m">
      Health and care contacts
    </h2>

    

    









<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Dr Smith</h2><div class="govuk-summary-card__actions">
<a class="govuk-link" href="/ucd-register/healthcare-professional/hcp-cyas/remove-health-professional">
  Remove<span class="govuk-visually-hidden"> contact details</span>
  </a>
</div></div>

  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Dr Smith
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/healthcare-prof-type">
                  Change<span class="govuk-visually-hidden"> name</span>
                  </a>
            
          </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job or support role
        </dt>
        <dd class="govuk-summary-list__value">
          General Practitioner
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/healthcare-prof-type">
                  Change<span class="govuk-visually-hidden"> name</span>
                  </a>
            
          </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">01622 55987</p>
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/healthcare-prof-type">
                  Change<span class="govuk-visually-hidden"> name</span>
                  </a>
            
          </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">4 Privet Drive, Little Whinging, Surrey</p>
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/postcode">
                  Change<span class="govuk-visually-hidden"> age</span>
                  </a>
            
          </dd>
        
      </div>
    
  
</dl></div>
</div>





    









<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Karen Jones</h2><div class="govuk-summary-card__actions">
<a class="govuk-link" href="/ucd-register/healthcare-professional/hcp-cyas/remove-health-professional">
  Remove<span class="govuk-visually-hidden"> contact details</span>
  </a>
</div></div>

  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Karen Jones
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/additional-support-type">
                  Change<span class="govuk-visually-hidden"> name</span>
                  </a>
            
          </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job or support role
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Physiotherapist</p>
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/additional-support-type">
                  Change<span class="govuk-visually-hidden"> name</span>
                  </a>
            
          </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">0795 42687</p>
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/additional-support-type">
                  Change<span class="govuk-visually-hidden"> name</span>
                  </a>
            
          </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">64 Zoo lane, Surrey</p>
        </dd>
        
          <dd class="govuk-summary-list__actions">
            
              <a class="govuk-link" href="/ucd-register/healthcare-professional/postcode-support">
                  Change<span class="govuk-visually-hidden"> age</span>
                  </a>
            
          </dd>
        
      </div>
    
  
</dl></div>
</div>



      


  


<a href="/ucd-register/task-list-hcp-done" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Save and continue
</a>



    </form>

  </div>
</div>
{% endblock %}