{% if (data['regScenario'] == "agent" ) %}
    {% extends "layouts/main.html" %}
{% else %}
    {% extends "layouts/main-gov.html" %}
{% endif %}

{% block content %}

<!-- Start row -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Can you confirm the full address?
    </h1>

    <form class="form" action="/ucd-register/healthcare-professional/enter-address-manually" method="post">
      <div class="govuk-width-container">
        <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="/ucd-register/healthcare-professional/postcode">Search again</a></p>

      

<div class="govuk-form-group">

<div class="govuk-radios" data-module="govuk-radios">
  
    
        
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="select-an-address" name="select-an-address" type="radio" value="1 Washington Street, Worcester, WR1 1NL">
        <label class="govuk-label govuk-radios__label" for="select-an-address">
      1 Washington Street, Worcester, WR1 1NL
    </label>
        
      </div>
      
      
    
  
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="select-an-address-2" name="select-an-address" type="radio" value="10 Washington Street, Worcester, WR1 1NL">
        <label class="govuk-label govuk-radios__label" for="select-an-address-2">
      10 Washington Street, Worcester, WR1 1NL
    </label>
        
      </div>
      
      
    
  
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="select-an-address-3" name="select-an-address" type="radio" value="11 Washington Street, Worcester, WR1 1NL">
        <label class="govuk-label govuk-radios__label" for="select-an-address-3">
      11 Washington Street, Worcester, WR1 1NL
    </label>
        
      </div>
      
      
    
  
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="select-an-address-4" name="select-an-address" type="radio" value="101 Washington Street, Worcester, WR1 1NL">
        <label class="govuk-label govuk-radios__label" for="select-an-address-4">
      101 Washington Street, Worcester, WR1 1NL
    </label>
        
      </div>
      
      
    
  
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="select-an-address-5" name="select-an-address" type="radio" value="110 Washington Street, Worcester, WR1 1NL">
        <label class="govuk-label govuk-radios__label" for="select-an-address-5">
      110 Washington Street, Worcester, WR1 1NL
    </label>
        
      </div>
      
      
    
  
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="select-an-address-6" name="select-an-address" type="radio" value="111 Washington Street, Worcester, WR1 1NL">
        <label class="govuk-label govuk-radios__label" for="select-an-address-6">
      111 Washington Street, Worcester, WR1 1NL
    </label>
        
      </div>
      
      
    
  
</div>

</div>

      
    </div> 

      


  


<button class="govuk-button" data-module="govuk-button">
Confirm this address
</button>



      <p class="govuk-body govuk-!-margin-bottom-6"><a href="/ucd-register/healthcare-professional/enter-address-manually" class="govuk-link">Enter address manually</a></p>

    </form>

  </div>
</div>
{% endblock %}